[2018-08-15 18:26] JensRantil commented on #299
Sorry guys that I haven't gotten back to you. I've had a fair amount of stuff to do both on the professional and private side of things. I received a response from Keith in an e-mail on May 15th this year. The relevant part is

So, I take that as we should fork the project (cc @jellisii). We need a name. I don't think "beanstalkd2" is a good name as there might a version two being released far in

[2018-08-15 18:30] pprindeville commented on #299
Well, first off, good job on being persevering and getting an answer back.  That's more than a lot of us dared hope for.

But I disagree with the assessment that the "beanstalk github org doesn’t really do much afaik".

Typically you can add others to the "team" and give them various rights, including the ability to do merges, close bugs, etc.

That seems like all you really need.

Doing a fork se

[2018-08-15 18:31] JensRantil commented on #299
@pprindeville Oh, so you have write-access to do that? I don't. I'm not a maintainer of this repo. AFAIK, only Keith is.

[2018-08-15 18:33] JensRantil commented on #299
...to clarify, I specifically asked if Keith was willing to give write access to other people to this repository in my e-mail to him. I offered to become a maintainer and move this project forward. I think his response was clear that he was unwilling to do that and instead recommended a fork.

[2018-08-15 18:33] pprindeville commented on #299
Right. I'm saying the usual way of GitHub projects evolving, is when the sole maintainer runs out of steam, he delegates shared responsibility to others that he trusts.

I'm saying that it's a popular way to handle exactly this situation.

[2018-08-15 18:34] JensRantil commented on #299
I understand. Tried that. Didn't work ;) Feel free to keep trying that if you believe that's still a viable way forward. Until then, I'll refer people to the fork.

[2018-08-15 18:35] pprindeville commented on #299
I didn't see his entire response, but the part of it that I cited ("beanstalk github org doesn’t really do much afaik") suggests that he might not be aware of all of his options, and I was trying to point at least one of them out to him.

[2018-08-15 18:35] JensRantil commented on #299
Ooops, noticed that my announcement had broken links to the new repo and organisation. Edited my post, but for clarity they are:

 * https://github.com/cornstalkd
 * https://github.com/cornstalkd/cornstalkd

[2018-08-15 18:37] JensRantil commented on #299
My original e-mail to Keith:

[2018-08-15 18:37] pprindeville commented on #299
One of the issues with a fork is that there's no easy way to migrate PR's to it, without asking the original author to do even more effort for possibly no return.

[2018-08-15 18:42] JensRantil commented on #299
Absolutely. I understand, I hear ya, but I'm afraid there's nothing I can do about that. Keith is a busy man with other priorities. We need to move the beanstalkd to another place.

[2018-08-16 08:46] tomponline commented on #299
@JensRantil this is great, thanks for taking the initiative on this one.

[2018-08-16 13:12] silviucpp commented on #299
@pprindeville I think it's possible to move the PR's without any problem. Just add as another remote branch the one from the PR and then you can merge it in your fork.

[2018-08-16 15:12] JensRantil commented on #299
Hello again,

Keith got back to me as I announced the fork to him last night. He made me an owner of the beanstalkd GitHub organization. I will go that route instead. But before I do that I am awaiting response from Keith if he's willing to transfer this repository to the organization (to preserve pull requests and issues) and optionally create a fork on his user. If he's not, I will create a new

[2018-08-17 02:27] Deracination commented on #378
I think improved logging would be very useful

[2018-08-17 06:26] JensRantil commented on #299
Hello again. Good news! Keith agreed to transfer beanstalkd to the beanstalkd organization! As you can see, he did the transfer some time these past 8 hours. This means that all pull requests and issues don't need to be resubmitted _and_ we have the access we need to build an active community around this.

I have deleted the cornstalkd fork and its organization and I'm happy we were able to avoid

[2018-08-17 11:31] sergeyklay commented on #299
@JensRantil Could you or someone who has the appropriate authority create a repository in beanstalkd org for php extension implementation (C-89) so I can push my private project.

[2018-08-17 12:27] tomponline opened #390 "Switch over go beanstalk client repo to new org"
@JensRantil is it possible to also get the Golang beanstalk client repo moved over also from @kr
https://github.com/kr/beanstalk

As I have some outstanding patches on it that would be great to merge, so I can switch back to upstream from my own fork.

https://github.com/kr/beanstalk/pull/26

[2018-08-17 12:30] JensRantil commented on #390
I think that's a great idea. I have reached out to Keith over e-mail and will get back here as soon as I get a response from him regarding this.

[2018-08-17 12:32] JensRantil commented on #385
Closing this. The original maintainer, @kr, has added me as an additional maintainer.

[2018-08-17 12:32] #385 closed

[2018-08-17 12:33] JensRantil commented on #383
Hello! I just stepped up as an additional maintainer to get this project moving a bit again. I believe making a release is one of the highest priorities before starting to look at outstanding issues and pending pull requests.

[2018-08-17 12:34] JensRantil commented on #383
@vitlav Any specific pull requests that you were thinking of?

[2018-08-17 12:47] sergeyklay opened #391 "Create a repository for beanstalkd client implemented as a PHP extension"
/cc @JensRantil

[2018-08-19 12:26] JensRantil commented on #390
Keith responded to me yesterday and transferred it to the organization. 🎉

To make it clear that it was a go client repo, I changed the repo name from "beanstalk" to "go-beanstalk" (added dash to avoid conflict with https://github.com/iwanbk/gobeanstalk). Let me know if you think that was a bad idea or if you have a better naming for it.

I'll try to get to review https://github.com/beanstalkd/go-

[2018-08-19 12:29] #390 closed

[2018-08-19 12:35] JensRantil commented on #384
Hi @PatriciaSVMonteiro! Nice find! Would you be interested in submitting a pull request to fix this?

[2018-08-19 12:36] JensRantil commented on #382
Hi @PatriciaSVMonteiro! Nice find! Would you be interested in submitting a pull request to fix this?

[2018-08-19 12:38] JensRantil commented on #391
This issue came out of https://github.com/beanstalkd/beanstalkd/issues/299#issuecomment-413837609.

[2018-08-19 12:39] JensRantil commented on #391
@sergeyklay Great with (another) PHP client! I was thinking about this; Instead of putting lots of repositories in the beanstalkd organization, requiring my involvement, also potentially somewhat signaling that it's an official client (which it's not), how about you simply create a public repository with your PHP client on your user and add your client to https://github.com/beanstalkd/beanstalkd/w

[2018-08-19 12:41] JensRantil commented on #390
Note to self: This issue came out of https://github.com/beanstalkd/beanstalkd/issues/299#issuecomment-413848926.

[2018-08-19 12:49] JensRantil commented on #381
Please see #383.

[2018-08-19 12:49] #381 closed

[2018-08-19 13:11] JensRantil commented on #323
Hello! There hasn't been much progress on this thread and since the objective of the issue is somewhat unclear I'm going to close this. Let me know if you believe it should be reopened and in that case, what exact problem we need to solve.

[2018-08-19 13:11] #323 closed

[2018-08-19 13:13] JensRantil commented on #371
@abbood Could it be your AWS load balancer (running in TCP mode I assume?) closes connections if there isn't any traffic going through for a while? Since beanstalkd hasn't restarted I don't see anything hinting that this is a beanstalkd problem. I'll be closing this issue. Let me know if I should reopen - if so, I'd appreciate if you could point to anything in beanstalkd being broken (best scenari

[2018-08-19 13:13] #371 closed

[2018-08-19 14:34] #366 closed

[2018-08-19 14:35] JensRantil commented on #377
Closing this. Let me know if your question hasn't been answered.

[2018-08-19 14:35] #377 closed

[2018-08-19 14:48] JensRantil commented on #379
Since it would be unfeasible to store all "reserved ids" in beanstalkd this proposal would mean that a job id can be reused. That would break backwards compatibility and sounds a little scary to me.

@Siecje Just curious, what's the reason for you tracking the jobs in a database?

[2018-08-19 14:49] JensRantil commented on #364
Closing this. Let me know if still an issue.

[2018-08-19 14:49] #364 closed

[2018-08-19 14:49] JensRantil commented on #360
Closing this. Let me know if still an issue.

[2018-08-19 14:49] #360 closed

[2018-08-19 14:49] JensRantil commented on #351
Closing this. Let me know if still an issue.

[2018-08-19 14:49] #351 closed

[2018-08-19 14:50] JensRantil commented on #322
Closing this. Let me know if still an issue.

[2018-08-19 14:50] #322 closed

[2018-08-19 14:53] JensRantil commented on #344
Another approach is to to 1) make sure your tasks are idempotent and 2) do double writes to two beanstalkd instances.

I'll be closing this. Let me know if you still have outstanding issues.

[2018-08-19 14:53] #344 closed

[2018-08-19 14:56] JensRantil commented on #362
You can easily run two beanstalkd processes on the same machine listening on different ports, one with wal and one without. I'm going to close this. Let me know if you don't this is a good enough solution.

[2018-08-19 14:56] #362 closed

[2018-08-19 14:57] #354 closed

[2018-08-19 14:59] JensRantil commented on #284
Which C compiler are you using`

[2018-08-19 15:00] JensRantil commented on #269
I'm going to close this. Please let me know if still an issues.

[2018-08-19 15:00] #269 closed

[2018-08-19 15:01] JensRantil commented on #263
@bougyman Still an issue now that #342 is merged? I'll close this. Let me know if still an issue.

[2018-08-19 15:01] #263 closed

[2018-08-19 15:02] JensRantil commented on #347
I'm going to close this. Please let me know if still an issues.

[2018-08-19 15:02] #347 closed

[2018-08-19 15:03] JensRantil commented on #277
I'm going to close this. Pretty sure this is an issue with https://github.com/beanstalkd/beaneater and not the server. Please file an issue there if the problem still persists.

[2018-08-19 15:43] wjrogers commented on #379
I'm doing something similar, so I might be able to offer a little help. I track jobs in a database for a) easier monitoring and b) dependency logic (e.g. don't dispatch job 2 until job 1 completes). I do the same thing as you:

[code]

I mitigate the untracked beanstalk job problem by assigning each job a guid. I change the status of the job from Queued to Dispatched in your step 3 (when storing t

[2018-08-19 15:52] JensRantil commented on #379
Good input. Thanks, @wjrogers. Your comment reminded me of https://github.com/beanstalkd/beanstalkd/pull/180#pullrequestreview-147460651.

[2018-08-19 17:32] JensRantil opened #392 "Set up a new webpage outside of the kr.github.io domain"
...to have the community maintain the website.

[2018-08-19 17:54] JensRantil commented on #392
New website can be found [here](https://beanstalkd.github.io/). Awaiting reply from Github on removal of [old website](http://kr.github.io/beanstalkd/). Will close this issue when that's done.

I've announced the move [here](https://groups.google.com/d/msg/beanstalk-talk/8ACV4IgH09k/xUwMiTnxAAAJ).

[2018-08-19 18:01] #270 closed

[2018-08-19 18:24] #253 closed, assigned to nobody

[2018-08-19 18:32] tomponline commented on #390
@JensRantil sounds good on the rename of the repo cheers

[2018-08-19 19:12] JensRantil commented on #264
Okay, I'm going to close this issue as a no-go. Reasons are as follows:

* Allowing a custom ID also has the implications that we break the uniqueness of job id. There are also potential concurrency confusions since a very recently deleted job might seem to "pop up" again if a job with a specific job id is added adding lots of confusion to both clients and developers.
* There are lots of ways this

[2018-08-19 19:12] #264 closed

[2018-08-20 03:30] gopi-ar commented on #392
Instead of removing the old site, why not redirect it to the new domain? That link comes up first when users search for beanstalkd and [3000+ blogs / repos](https://moz.com/researchtools/ose/links?site=http%3A%2F%2Fkr.github.io%2Fbeanstalkd%2F&filter=&source=external&target=page&group=0&page=1&sort=page_authority&anchor_id=&anchor_type=&anchor_text=&from_site=) link back to this domain.

[2018-08-20 04:49] pmatseykanets opened #395 "New community website"
This is related to #392 but goes beyond just moving and / or setting a redirect to an existing version of content that hasn't changed for years.

I hope we all agree that our loved little worker queue service deserves a modern fresh-looking documentation oriented website.

I spent a little bit of time this weekend and would like to present for consideration a POC that is available at https://githu

[2018-08-20 04:57] pmatseykanets commented on #395
Also things that are currently missing but would be great to have:

- a hero image
- color scheme
- a copy for most essential features
  - Simple
  - Fast
  - Reliable

[2018-08-20 12:53] sergeyklay commented on #391
Hmmm, in general sounds good to me. Perhaps we can give this client the status of "official" a little later :)

[2018-08-20 12:53] #391 closed

[2018-08-20 13:17] JensRantil commented on #391
:-) Absolutely! Let's do a GitHub star inventory of PHP clients later.

[2018-08-20 14:12] sergeyklay commented on #395
Yeah, we cam move all the wiki to the https://beanstalkd.github.io site.

[2018-08-20 14:19] sergeyklay opened #396 "Introduce build and coverage status"
Hello,

Just a proposal to introduce build badge (in the readme.md file) and [code coverage metric](https://codecov.io). Also could you please setup [Travis Cron Jobs](https://docs.travis-ci.com/user/cron-jobs/) so that beanstalkd will be tested with [various compilers](https://docs.travis-ci.com/user/languages/c/#choosing-compilers-to-test-against) and [multi OS matrix](https://docs.travis-ci.com

[2018-08-20 14:31] sergeyklay commented on #395
/cc @JensRantil

[2018-08-20 14:40] JensRantil commented on #395
Wow! This all sounds amazing. 💓 I'm currently out hiking but I'll have a look some time this week with thoughts and feedback.

[2018-08-20 14:52] pmatseykanets commented on #395
@JensRantil Take look at the POC from your phone to see the mobile view while you're taking a rest during your hike 😅😅😅

[2018-08-20 15:50] Siecje commented on #379
@JensRantil You don't need to store all "reserved ids".

When you add a job to a tube you get an id. I just want to say "Hey beanstalkd what is the next id you are going to give out. Thanks, don't give that id out. Here is my job and this is the job id."

In the mean time if jobs are added they will get a different id.

[2018-08-20 15:54] Siecje opened #397 "Less verbose logging"
Is it possible to get some logging but not as much as `-V`?

I don't want to see

[code]

[2018-08-21 05:34] sergeyklay commented on #397
Yeah, it's looks like DEBUG mode

[2018-08-21 13:32] Siecje commented on #397
How do you disable DEBUG mode?

[2018-08-21 19:03] sergeyklay commented on #397
@Siecje Please provide the used way to start beanstalkd with all options

[2018-08-21 19:06] Siecje commented on #397
[code]

[2018-08-22 05:25] gopi-ar commented on #392
@JensRantil  Looks like the domain's broken without redirection. Again, it's 3000+ links on the internet pointing to the old link.

[2018-08-22 06:26] JensRantil commented on #392
@gopi-ar: @kr has been in touch with Github support to see if there's a way to redirect his old website domain to the new website. I'm afraid there's nothing else I can do.

[2018-08-22 06:26] #392 closed

[2018-08-22 06:27] JensRantil commented on #392
Github got back and told me the old website was still accessible due to a caching issue. They've cleared the cache now.

[2018-08-22 06:30] gopi-ar commented on #392
Can @kr setup an HTML redirect on that page meanwhile? It's a shame if all the resources pointing to beanstalkd say 404.

[2018-08-22 06:35] JensRantil commented on #392
I was CC:ed in an email conversation between him and Github. He was looking into it.

[2018-08-23 01:35] TofuLay opened #398 "Website cannot be accessed"
http://kr.github.io/beanstalkd/
response: 404

[2018-08-23 01:38] TofuLay commented on #398
#395

[2018-08-23 01:38] #398 closed

[2018-09-03 00:15] pmatseykanets commented on #395
@JensRantil Just checking in to see if you had an opportunity to take a look.

[2018-09-03 16:02] tomponline opened #399 "create a 1.11 release to include the commits since 1.10"
Hi @JensRantil I wondered if it was possible to create a 1.11 release of beanstalkd, to include the commits already in master since 1.10.

https://github.com/beanstalkd/beanstalkd/compare/v1.10...master

[2018-09-04 18:31] chadchristenson commented on #382
I think this is ok.  heapinsert doesn't allocate memory for the object.  It only allocates space on the heap for the pointer.

[2018-09-08 04:31] stoodfarback opened #400 "Unexpected/inconsistent behaviour when combining delay and pri."
Scenario: I want to run two jobs, same delay, different priorities.
I want them to be processed in the order based on priority.
The jobs are processed in the order they were inserted instead.

To demonstrate:

A simple consumer that just prints out the job body:
[code]

In another window:
[code]

Expected:
[code]

Actual:
[code]

As a workaround, I've found that adding a junk job first (with the s

[2018-09-08 05:12] kr commented on #400
Each job in your example is delayed for 3 seconds, but you submitted the "should be second" job a moment before the other job. That means its delay expires a moment earlier. At that instant, only one job is ready. So the worker picks up that one. Then the other job's delay runs out and it becomes ready, and the worker runs that one.

[2018-09-08 05:17] kr commented on #400
When the worker gets the "junk" job first, it takes it some time to process that job. It happens that in your configuration, that is enough time for both other jobs' delays to expire, and they both become ready. Then, when the worker is finished with the junk job, it issues a "reserve" command. At that instant 2 jobs are ready. So it picks up the one with the more urgent priority first.

[2018-09-08 17:11] stoodfarback commented on #400
Thank you for the explanation, that makes sense.
Probably not a bug, just me not understanding how the delay worked, so I'm closing the issue.
Do you know if pausing the tube will work reliably, or if that only worked for weird timing reasons too?

[2018-09-08 17:11] #400 closed

[2018-09-08 20:06] kr commented on #400
Pausing the tube should do what you're looking for. All jobs submitted while the tube is paused will simultaneously become ready when you un-pause it.

[2018-09-09 03:45] stoodfarback commented on #400
Perfect, thanks again for your help.

[2018-10-04 08:36] ysmolsky commented on #328
It started to happen in our production as well. But it happens in libc?..
[code]
It seems to happen for particular kind of data but I could not catch it. Whenever I restart all the clients and restart beanstalkd then it disappear.

strace:
[code]

What tools can I use to investigate this?

[2018-10-04 11:45] ysmolsky commented on #399
It's very unfortunate that such a great piece of software is abandoned. Yes, there are commits here and there and there was no proper release for more than 4 years. To make this more constructive.

@JensRantil, what help do you need to make new releases possible?

[2018-10-04 14:59] tomponline commented on #399
I've not heard from @JensRantil since a few days after he rested the beanstalk project away from @kr

[2018-10-04 21:45] stamster commented on #399
@tomponline so this starts to look like a House of the Damned? :) Hope not and everyone are OK.

[2018-10-05 09:37] ysmolsky opened #401 "segfault when job size is larger than INT_MAX=2147483648"
Whenever client tries to put the job larger than INT_MAX beanstalkd is crashed with following stack trace:
[code]
It happens because errno is never verified after `strtoul`. In this case `errno == ERANGE` and `body_size =  2417174701`. Since body_size is uint, its value does not fit in the n argument (int) of  the _skip function. It leads to overflow and in the _skip function `n = -1877792593`:
 h

[2018-10-06 09:57] nikolaposa opened #402 "Q: Does DELETE command works on a timed out job?"
Scenario:
1. job is reserved by a worker
2. worker reserved a job for more than `ttr` seconds
3. beanstalkd timeouts the job and releases it (puts it into the ready state)
4. worker eventually completes its work and tries to acknowledge (delete) the job

What I don't understand is whether `DELETE` command will have an effect if called on the job that has jut timed out?

[2018-10-17 10:49] sergeyklay commented on #401
@ysmolsky Could you please submit the patch

[2018-10-19 20:33] L3o-pold commented on #399
@JensRantil Could you tag the new release please?

[2018-11-01 07:58] #332 closed

[2018-11-01 08:44] ifduyue commented on #402
https://github.com/beanstalkd/beanstalkd/blob/b5a6f7a23a368ffb31fbf48cdffe95541166d3fa/prot.c#L1341-L1345

Yes, it will delete this job, unless this job was reserved by another connection.

[2018-11-05 12:04] SumedhaJagtap opened #405 "Beanstalk ('delete', 'NOT_FOUND', [])"
Do multiple receivers can cause such situations?

[2018-11-12 19:02] ysmolsky commented on #402
@nikolaposa does this answer your question?

[2018-11-12 19:03] ysmolsky commented on #405
Yes, multiple connections can cause this. When connection A has reserved the job and connection B tries to delete it, connection B will see the NOT_FOUND response.

[2018-11-12 20:38] nikolaposa commented on #402
@ysmolsky Yes, it does, feel free to close this issue.

[2018-11-12 21:57] ysmolsky commented on #402
@nikolaposa thanks, but I can't. Perhaps, you, as author of the bug, can close it?

[2018-11-13 06:52] SumedhaJagtap commented on #405
Does it mean that multiple queues can reserve the same job?
Is it a good functionality because we are going to execute 100 receivers for one queue?

[2018-11-13 08:59] #402 closed

[2018-11-19 16:13] robertology opened #406 "Get pause delay?"
I've just recently discovered the pause-tube command. For my use case, I want to pause it briefly, then unpause (set delay to zero) but I don't necessarily want to change the delay value if someone else has paused it.

Is there a way to get the current delay? Or at a minimum to see if there is a delay currently set?

[2018-11-19 16:34] ifduyue commented on #406
https://github.com/beanstalkd/beanstalkd/blob/b5a6f7a23a368ffb31fbf48cdffe95541166d3fa/prot.c#L192-L207

Use `stats-tube`, `pause` and `pause-time-left` are what you're look for.

[2018-11-19 17:57] robertology commented on #406
That's it. Thanks!

[2018-11-19 17:57] #406 closed

[2018-11-25 09:41] tomponline commented on #399
@JensRantil would you be able to give me access to the beanstalk org to avoid a fork? thanks

[2018-11-26 09:01] stamster commented on #399
https://github.com/gocql/gocql/pull/1236

[2018-11-26 12:57] tomponline commented on #399
@stamster what was that link about?

[2018-11-28 18:00] sjinks commented on #382
Actually @PatriciaSVMonteiro is right, there is a leak. This is what valgrind says:

[code]

testheap.c:208 is `j = calloc(n, sizeof *j);`
testheap.c:220 is `heapinsert(&h, j[i]);`

[2019-01-23 21:27] apmcodes opened #407 "How to cancel a RESERVE command without disconnecting the client"
Since RESERVE command is blocking, nodejs client libraries (fivebeans/ beanstalkd) are not able to sent any further watch/ ignore or other commands. The other commands just hang.

The requirement is to be able to dynamically watch/ ignore tubes in a single existing client connection.
Is there a way to cancel the current RESERVE call and free the client?

[2019-01-30 16:11] kaspergrubbe commented on #399
@tomponline Just to show that the maintainer hasn't disappeared (thankfully!).

[2019-01-30 16:43] tomponline commented on #399
@kr would you be willing to create a new tag release of master? Thanks

[2019-02-12 04:04] ptjm commented on #407
If you have some external process or thread that is initiating this, you can have it put a message on one of the tubes that's already watched. If you want to poll, you can use reserve-with-timeout with the timeout period set to your poll interval.

[2019-02-25 02:41] divmgl opened #408 "Wrote a client library for Node"
Hello. I wrote a client library for Node. I'm going to be using it for a big deployment in the coming days so I plan on maintaining it as I find issues. Feel free to add it to the Wiki if you feel that it's up to your standards. Appreciate it.

https://github.com/getjackd/jackd

[2019-03-06 19:08] DoogeJ commented on #395
Maybe mildly off-topic here, but is there still a list of available client libraries somewhere?

[2019-03-12 10:53] dontub commented on #399
Looks like a fork is unavoidable...

[2019-03-12 10:57] sergeyklay commented on #399
@JensRantil Can we hope for release next version?

[2019-03-18 08:34] jjnha opened #409 "how to modify reverse ttr time?"
After reverse() a job,  I didn't use bury(), release(), delete() to set the job state Immediately , first to judge a business logic, if it fails, I will use bury() setting  the job priority to execute again, but I found the business logic is not finished , the  reverse job became the ready state quickly(in a few minute? ), the process has been repeatedly got the job task,  how can I modify the  re

[2019-03-18 11:40] ifduyue commented on #409
https://github.com/beanstalkd/beanstalkd/blob/master/doc/protocol.txt#L139-L144
https://github.com/beanstalkd/beanstalkd/blob/master/doc/protocol.txt#L309-L326

[2019-03-25 12:18] jevgenijsb commented on #83
[code]

[2019-04-09 04:28] jhammer commented on #160
We have just hit this, as well:

Apr  8 17:46:37 db01 kernel: [56880694.274429] traps: beanstalkd[1048] general protection ip:40241c sp:7ffd78a06a20 error:0 in beanstalkd[400000+e000]

[2019-04-26 09:31] sergeyklay commented on #399
ping @JensRantil

[2019-06-03 12:09] jsabater commented on #399
There are 747 forks already. Has anyone heard back from @JensRantil or @kr? Is a new 1.11 version with the commits since 1.10 expected or available anywhere else?

[2019-06-06 12:44] kaspergrubbe commented on #399
Maybe it's time for a proper community project fork? :(

Not sure who would be the best candidate for maintaining it, but maybe it's not that important, as long as it is some that knows a bit about the codebase, can make releases and is reachable.

[2019-06-06 12:51] kaspergrubbe commented on #399
@alup @kr @nesquena @nicotaing @petri @tdg5 @vit1251 Sorry for tagging you, but you all seem to be part of the beanstalkd Github organisation, could we start a search for maintainers, so that we can pass the torch on?

I would like to help with the efforts of searching if you give me the permissions to do so.

[2019-06-06 13:29] vit1251 commented on #399
@kaspergrubbe I am sorry TL;DR that topic but I can help with debian packager (only technical issue no connection with debian community) if you want modern deb package.

[2019-06-17 07:07] allenwu1973 commented on #399
@kr @JensRantil We, like many others, use beanstalkd in production. Is there any way we can help to make  a new release?

[2019-06-17 08:18] ysmolsky commented on #401
I would be glad to submit it, but I do not see that it will be accepted and released, since the owner of this repo has disappeared.

[2019-06-17 08:21] ysmolsky commented on #299
No activity from PR approvers in last year. Should reopen this issue?

[2019-06-17 08:29] ysmolsky opened #413 "consider adding active maintainers"
@kr, would you consider the idea of adding more maintainers to the project?

There are lots of requests for a release and there are many outstanding bugs in the beanstalkd. Some use it in production because it's fast and capable, but there are critical bugs for which people has to use workarounds and crutches. Users, me included, love this server and want to make it even better.

I understand that

[2019-06-18 02:47] kr commented on #413
My apologies, I thought I had already done that.

I'm happy to add more folks to the github org if anyone else wants to take on maintenance tasks.

I'll also remove myself from the github org on July 1st, to help avoid further confusion.

[2019-06-21 21:28] tomponline commented on #413
@kr id be happy to help in this

[2019-06-21 21:33] ysmolsky commented on #413
@kr, if my email has not reached you...
I would be glad to help with beanstalkd too.

[2019-06-21 21:47] kr commented on #413
Side note to any new maintainers. There is some minimal documentation on the release procedure for beanstalkd in the readme in https://github.com/beanstalkd/beanstalkd/tree/master/pkg. It's not much but better than nothing.

[2019-06-21 21:48] tomponline commented on #413
Thanks @kr I will take a look

[2019-06-21 22:17] kr commented on #413
I just invited @tomponline and @ysmolsky to the org.

[2019-06-22 09:23] ysmolsky commented on #413
Thank you, @kr. One thing. As a member of this org, I am not able to manage tickets or PR's. I think the rights of members are very much restricted.

[2019-06-23 09:45] tomponline commented on #413
@kr I only appear to be a member not owner like the others. Thanks

[2019-06-25 00:34] kr commented on #413
Sorry about that, I will try to fix it now.

[2019-06-25 00:39] kr commented on #413
Hopefully it is fixed for you two now. I often have trouble understanding GitHub's permissions. Sorry again!

[2019-06-25 07:49] tomponline commented on #413
thanks @kr that seems good now. :)

[2019-06-25 07:51] tomponline commented on #399
@ysmolsky are you happy to move forward on this issue now?

[2019-06-25 14:16] ysmolsky commented on #399
Yes, I am. I started looking at old issues and PRs, but I think that we should release before anything else and get feedback on that.

[2019-06-25 14:18] ysmolsky commented on #335
Closing in favor of #399

[2019-06-25 14:18] #335 closed

[2019-06-25 14:19] ysmolsky commented on #383
Closing in favor of #399

[2019-06-25 14:19] #383 closed

[2019-06-25 14:30] ysmolsky opened #415 "make labels useful for triaging issues"
Right now the set of labels is not useful. I propose to remove all the labels and create the following set shamelessly borrowed from Go issue trackers (since I know that by heart):

* Help Wanted - Community is welcome to help with fixing the issue. Might be a good issue for novices.
* Documentation - The required fix is about fixing documentation only.
* Question - Author of an issue seeks help,

[2019-06-25 14:32] ysmolsky commented on #408
Closing as I see, that your lib is already listed here: https://github.com/beanstalkd/beanstalkd/wiki/Client-Libraries

[2019-06-25 14:32] #408 closed

[2019-06-25 14:35] ysmolsky commented on #407
The architecture of beanstalkd does not allow to reserve while sending other commands at the same time. Please refer to the protocol and find the reserver-with-timeout as mentioned by @ptjm.
@apmcodes I hope that the answer above was satisfactory. Please open if you have further questions.

[2019-06-25 14:35] #407 closed

[2019-06-25 14:40] ysmolsky commented on #409
Yes, when the job is put, the TTR (time to run) can be specified with it. Or you can touch the job periodically to prolong the processing of the job.

[2019-06-25 14:40] #409 closed

[2019-06-25 14:49] ysmolsky commented on #405
Thank you @karimsan , that is a good explanation.

[2019-06-25 14:49] #405 closed

[2019-06-25 14:52] jsabater commented on #399
I think that the best course of action is what you proposed, @ysmolsky: release version 1.11 with what has been committed since 1.10, then start bringing more in while getting feedback. Thanks in advance.

[2019-06-25 19:34] ysmolsky commented on #415
ping @tomponline @JensRantil

[2019-06-25 19:38] silviucpp commented on #200
This was fixed . Bug need to be closed

[2019-06-25 19:40] silviucpp commented on #184
This most probably can be closed. Might be duplicated with #200

[2019-06-25 19:41] silviucpp commented on #204
Very old report without any feedback. I guess can be closed

[2019-06-25 19:42] silviucpp commented on #205
Fix for this was already merged in master. https://github.com/beanstalkd/beanstalkd/commit/b7b4a6a14b7e8d096dc8cbc255b23be17a228cbb

Can be closed

[2019-06-25 19:55] ysmolsky commented on #205
Great, I have doubled checked. Thanks for pointing to these issues!

[2019-06-25 19:55] #205 closed

[2019-06-25 19:55] #204 closed

[2019-06-25 19:58] ysmolsky commented on #200
@silviucpp, can you point to the commit/PR that fixed it?

[2019-06-25 20:13] ysmolsky commented on #396
This issues is rather an umbrella for multiple features. We can discuss and track progress here.

[2019-06-25 21:43] sergeyklay commented on #396
I would be happy to provide initial Travis CI configuration. Feel free to ping me any time.

[2019-06-26 04:39] kr commented on #413
Thank you so much for taking on this work, and to the whole community for being so nonjudgemental and supportive. ❤️

[2019-06-26 07:22] silviucpp commented on #200
74f6ff76d528188a6da7c11b5d77124ef82eec2c

[2019-06-26 07:29] silviucpp commented on #199
@tomponline this still occurs on the last version ?

[2019-06-26 07:53] tomponline commented on #199
@silviucpp no this issue is very old and I ran it in production for many years after that with no issues.

[2019-06-26 07:53] #199 closed

[2019-06-26 08:35] ysmolsky commented on #200
PR #218 looks not finished. I wonder if this is reproducible in 1.10 or especially on master. I have commented in PR, but any help investigating this issue is welcome!

[2019-06-26 08:40] silviucpp commented on #200
I'm using in production the version b7b4a6a14b7e8d096dc8cbc255b23be17a228cbb (last major commit in master) and I never seen this problem. for this reason I doubt that this can be replicated yet.

[2019-06-26 12:51] ysmolsky commented on #200
I have looked into this. It does not look like an issue to me on OSX and Linux. I run 1.10 in production on different Linux kernels and there is no issue with CPU consumption there.

[2019-06-26 12:51] #200 closed

[2019-06-26 12:58] ysmolsky commented on #327
This does feel right in terms of what beanstalkd does, and especially using command lines parameters to override the behavior of server so drastically. This would break protocol promises made for version 1. Right now this repo is maintenance mode meaning that we are going to keep the thing running but without introducing major features.

[2019-06-26 12:58] #327 closed

[2019-06-26 13:04] ysmolsky commented on #396
I would love to review your PR. Please, do not hesitate.

[2019-06-26 14:14] ysmolsky commented on #399
I am rehearsing the release by following the guide here: https://github.com/beanstalkd/beanstalkd/tree/master/pkg
[code]
I have tagged the latest commit as dev1.11 with some foobar message.
Wrote some foobar News files.
But I got stuck on the step of running pkg/dist.sh:
[code]
With debugging output turned on the culprit line is:
[code]
https://github.com/beanstalkd/beanstalkd/blob/master/pkg/dist

[2019-06-26 14:15] ysmolsky commented on #399
I am rehearsing the release by following the guide here: https://github.com/beanstalkd/beanstalkd/tree/master/pkg
[code]
I have tagged the latest commit as dev1.11 with some foobar message.
Wrote some foobar News files.
But I got stuck on the step of running pkg/dist.sh:
[code]
With debugging output turned on the culprit line is:
[code]
https://github.com/beanstalkd/beanstalkd/blob/master/pkg/dist

[2019-06-26 14:46] ysmolsky commented on #399
First issues is figured out. Line 41 should be this:
[code]
This allows the creation of release branch tagged 1.11.

@kr what is the rationale behind dev* tags? Did you do release of dev branch first directly via Github? I am confused because I see releases like dev1.10 on github.

As for gh-pages, it seems to me that this was a branch in this repo that contained the blog, but it was moved away in

[2019-06-27 02:53] kr commented on #399
I was never totally happy with the release process. I fiddled with it a few times and eventually settled on this. I had a couple of goals:

- avoiding hard-coding the version number in source code in the main branch, since that produces misleading output for every commit other than the actual release commit
- still having the release tarball contain the version string so it can build correctly (of

[2019-06-27 02:54] kr commented on #399
For example, vers.sh uses the dev tags to print an accurate version string for whatever commit you happen to be on.

[2019-06-27 05:37] tomponline commented on #399
@ysmolsky im happy if you want to proceed with 1.11 release BTW 😃

[2019-06-27 06:18] ysmolsky commented on #399
Uhm, I thought that you wanted to try to release next version. Surely I can do it, but I would rather not since everything is done by me right now. I don’t want to be a single point of failure. Can you try to do it, report what is not working or not clear, and then if you are stuck for good, I can take over? Also I can review changes/news before pushing tags and posts. What concerns do you have?

[2019-06-27 07:23] tomponline commented on #399
@ysmolsky I am still happy to try it, and agree it would be good to have more than 1 person able to do it. I just didn't want to hold you up if you had time available to do it. I'm hoping to get a bit of time at the weekend to try this though :)

[2019-06-27 07:28] tomponline commented on #399
@kr how thorough would you say the unit tests are and what is the way to run them? I'd like to checkout the master and run the tests before tagging just to make sure there are no obvious issues. Thanks

[2019-06-27 07:28] ysmolsky commented on #399
I have no rush with this. I will wait. Especially that I had a day off and was able to batch some work on beanstalkd. And now I have to take a break until the weekend.

[2019-06-27 07:31] tomponline commented on #415
@ysmolsky I'm happy with these.

[2019-06-27 08:14] kr commented on #399
To run them, it's `make check`.

I would say their thoroughness is okay but not great. Most of the existing tests are exercising various error conditions (like disk full) and the basic data structures (like the binary heap).

[2019-06-27 17:34] ysmolsky commented on #396
@sergeyklay can you please look at this pull and figure out what is wrong? https://github.com/beanstalkd/beanstalkd/pull/420

I am not friends with coverage in C, I made this work locally through passing flags as parameters to make, but it does not work in travis.

[2019-06-28 00:11] kr commented on #396
At first glance this looks like it might be a problem with whitespace and quoting in the shell.

[code]

It looks like the actual value of `$COVERAGE` is

[code]

And when `$COVERAGE` appears in the make command line it expands to 4 separate args: `LDFLAGS='-fprofile-arcs`, `-ftest-coverage'`, `CFLAGS='-fprofile-arcs`, and `-ftest-coverage'`.

Putting double quotes around `$COVERAGE` in the make c

[2019-06-28 00:20] kr commented on #396
On second glance, a single arg won't work either, since `$COVERAGE` is trying to set two parameters.

Maybe consider changing `CFLAGS=...` in Makefile to `CFLAGS?=...` (and same for LDFLAGS) and then the travis config can control those via environment variables instead of arguments to make.

[2019-06-28 07:29] ysmolsky commented on #396
Thanks @kr. It was not correct approach to the `make` tool. @sergeyklay proposed better approach with `CFLAGS+=...` in PR #421.

[2019-06-28 10:22] sergeyklay commented on #396
Closing, this is implemented. If there are bugs or I have made an oversight, please do get back in touch. Thanks

[2019-06-28 10:22] #396 closed

[2019-06-28 10:49] ysmolsky commented on #396
Hmm, this should have been closed automatically. Checking why it has not happened.
I see that the message was this:
[code]
If it was this:
[code]
then it would have worked. It should be a new line for every mentioned ticket.

[2019-06-28 10:52] sergeyklay opened #423 "unable to build with optimizing levels on Linux"
This error occurs only on turn full optimization eg `CFLAGS="-O3"`.

[code]

[code]

[code]

All warnings being treated as errors because `-Wall -Werror`. The same with `O2`.

Ubuntu Trusty, gcc 4.8.4

/cc @kr @ysmolsky

[2019-06-28 10:56] ysmolsky commented on #160
@jhammer, what version do you run? Can you produce the stack trace?

[2019-06-28 11:01] ysmolsky opened #424 "improve tests coverage"
[![codecov](https://codecov.io/gh/beanstalkd/beanstalkd/branch/master/graph/badge.svg)](https://codecov.io/gh/beanstalkd/beanstalkd)

Right now tests coverage is at 32%. What is worse, some files are not tested at all:
conn.c, file.c, linux.c, prot.c, walg.c

https://codecov.io/gh/beanstalkd/beanstalkd/list/master/

We might want to pick low hanging fruit by adding integration tests that cover wid

[2019-06-28 11:05] ysmolsky commented on #415
Great. I have applied these new labels. Please start using them when triaging the issues.

[2019-06-28 11:05] #415 closed

[2019-06-28 11:06] ysmolsky commented on #413
Thank you, Keith.

[2019-06-28 11:06] #413 closed

[2019-06-28 11:07] sergeyklay commented on #396
I think message should be:
[code]

See: https://stackoverflow.com/questions/3547445/closing-multiple-issues-in-github-with-a-commit-message

[2019-06-28 11:12] ysmolsky commented on #396
Yes, exactly. Also there is no need to put colon after the verb:
`Closes #XXX`
But I like this form even better: `Fixes #XXX`.

[2019-06-28 11:15] ysmolsky commented on #397
@Siecje what kind of messages would you like to see in -V mode?

[2019-06-28 12:15] sergeyklay commented on #423
As I see all errors related to "-Werror=unused-result" so it is easy to fix

[2019-06-28 12:56] Siecje commented on #397
I don't use beanstalkd anymore. Are there other messages besides the close and accept connections?

[2019-06-28 18:14] ysmolsky commented on #397
Thanks. I do not see a point to reduce the current level of verbosity for -V. That is to show accept, close and bind events. There is nothing to show less than that.

[2019-06-28 18:14] #397 closed

[2019-06-28 19:37] ysmolsky commented on #378
@ChoHag can you please show the examples of logs that you generate?

[2019-06-28 21:21] ysmolsky commented on #379
This might a good feature, but I see the problem with breaking promises of the protocol. We need to modify the `put` command. While the reserving command could be added without problem.

Also the answers above showed how it is possible to handle your case on the side of a client. Could that work out for you?

[2019-06-28 21:41] Siecje commented on #379
Create a new command?

I have not seen a solution for this problem.

[2019-06-28 21:49] ysmolsky commented on #376
@atefBB beanstalkd does not support Windows right now, only Linux, OSX and FreeBSD.

[2019-06-28 21:51] ysmolsky commented on #376
And we have no plans to add such a support at this moment. You could try to use beanstalkd via mingw I guess, but I never tried. Let me know if that worked out for you.

[2019-06-28 21:53] ysmolsky commented on #380
@bryanlarsen do you touch the job from the client? Can you show the code which produces this?

[2019-06-28 21:59] ysmolsky commented on #359
@raju-divakaran have you tried to upgrade to 1.10? what is the size of your tubes, e.g how many jobs do you have sitting in the beanstalkd at any given time?

[2019-06-28 22:00] #348 closed

[2019-06-28 22:05] ysmolsky commented on #343
Technically it can be compiled under cygwin, but there is not official support there, so the behaviour might a bit weird there.

[2019-06-28 22:09] #345 closed

[2019-06-29 04:56] kr commented on #379
Yeah, I think this would take 2 new commands, one to reserve the ID, and another to put a job with the reserved ID. Something like `reserve-id` and `put-with-id`. The existing `put` command would have to keep its existing behavior of reserving and immediately using a new ID.

If done this way, it would not be a breaking change.

There is an open question about what to do if the client tries to use

[2019-06-29 05:47] kr commented on #424
The tests in testserv.c are mostly integration-style tests. They run srvserve in a subprocess and talk to it over a TCP socket. Since the code being tested is in another process, maybe the coverage tool can't see it.

[2019-06-29 07:43] ysmolsky commented on #339
@pprindeville I totally support this initiative. Would you be so kind to update your PR because we have changed Makefile recently?

[2019-06-29 08:36] atefBB commented on #376
@ysmolsky Thank you !

[2019-06-29 09:14] ysmolsky commented on #376
I will keep this kind of issues open so that others can find them. Also we would know on which platforms beanstalkd is wanted.

[2019-06-29 10:10] sergeyklay commented on #424
The coverage tool reads `*.gcda` and `*.gcno` files which are created independent of the tool we're use to read them.

[2019-06-29 11:32] ysmolsky commented on #424
@sergeyklay not sure if I understood your statement.

I looked into testsrv.c I see that server is started as fork and the test code is built coverage supported. Am I correct by saying that it does not matter how we start program that is compiled with coverage options because it will write instrumentation anyway?

[2019-06-29 11:36] ysmolsky commented on #209
We cannot fix this since it's a problem with CentOS distribution.

[2019-06-29 11:36] #209 closed

[2019-06-29 13:45] meox opened #427 "Retrieve jobs in buls"
In order to reduce the latency I propose to add two new commands:

- retrieves n
- retrieves-with-timeout n, timeout

they maintain the same behavior of the current one but returning a list of jobs instead of a single one

[2019-06-29 13:52] tomponline commented on #399
This is now done!

https://github.com/beanstalkd/beanstalkd/compare/v1.10...v1.11

Thanks @kr and @ysmolsky and everyone who contributed to it. :)

[2019-06-29 14:25] ysmolsky commented on #427
I would say that commands should be named
[code]

[2019-06-29 14:27] meox commented on #427
the old ones are simply a specific case of size = 1

[2019-06-29 16:07] sergeyklay commented on #424
@ysmolsky  Yes, I think so.

[2019-06-29 20:54] ysmolsky opened #429 "proposal: adopt guidelines for good commit messages"
I love the way Go project describes how to write good commit messages:
https://golang.org/doc/contribute.html#commit_messages

Can we adopt the same set of conventions for beanstalkd?
I suggest we copy them to the Contributing file.

@tomponline @sergeyklay, your thoughts?

[2019-06-30 07:11] ysmolsky commented on #424
I think that our coverage is off because I found this:

Source: https://github.com/kr/ct

[2019-06-30 07:27] ysmolsky commented on #311
read_delay is just a wrapper doing additional check and convertation. But documentation is a bit off in many places including this. Especially confusing is the fact that there are way to many different kinds of ints here and there. Closing this ticket.

[2019-06-30 07:27] #311 closed

[2019-06-30 07:33] ysmolsky commented on #319
I have marked this issue as unplanned. This is the kind of feature we are not planning to do in near future because of complexity and lack of clarity.

@tomponline @sergeyklay

[2019-06-30 07:35] tomponline commented on #319
Agreed, stunnel would be an option in these cases.

[2019-06-30 07:44] ysmolsky commented on #304
This is a still valid issue. I found myself often doing too many click to find the protocol.
I will fix README.md.

@tomponline what do you think about adding link to the website here?
<img width="764" alt="Screen Shot 2019-06-30 at 10 42 32" src="https://user-images.githubusercontent.com/140245/60393808-ddde3a00-9b23-11e9-8bf7-2c6c5cfbd601.png">

[2019-06-30 07:45] ysmolsky commented on #284
ping @gzliudan @archon810 . is this still valid issue in beanstalkd 1.10?

[2019-06-30 07:47] ysmolsky commented on #282
It looks like an issue with the client.
@theluk, were you able to figure out this problem?
I will leave this open for a while.

[2019-06-30 07:49] #277 closed

[2019-06-30 07:50] ysmolsky commented on #266
dup of #427.

[2019-06-30 07:50] #266 closed

[2019-06-30 07:52] ysmolsky commented on #427
This issue was raised in @266 before where @JensRantil proposed following solution to the problem:

@meox

[2019-06-30 07:55] #247 closed

[2019-06-30 07:57] ysmolsky commented on #244
closing in favor of #3

[2019-06-30 07:57] #244 closed

[2019-06-30 08:00] meox commented on #427
I checked the protocol but there isn't any command for "pipelining" stuff.

[2019-06-30 08:05] ysmolsky commented on #427
Yeah, it is somewhat lacking this feature. Please see this comment:
https://github.com/beanstalkd/beanstalkd/issues/27#issuecomment-89014

you can send multiple requests for jobs and receive them async-ly afterward. But this requires that client support for this feature. Extending protocol requires changing clients too.

[2019-06-30 08:32] ysmolsky commented on #380
Most likely related issue is #262 that has an outstanding fix and some debugging info.

[2019-06-30 08:42] ysmolsky opened #430 "putdelete benchmarks is 20 times slower on Linux"
linux https://travis-ci.org/beanstalkd/beanstalkd/jobs/552358996:
[code]
osx https://travis-ci.org/beanstalkd/beanstalkd/jobs/552358997:
[code]
I wonder if it is because clang optimizes by default on higher lever or some problem with the generate code on Linux.

And I think that benchmarking should take more iterations.

/cc @sergeyklay

[2019-06-30 08:58] ysmolsky commented on #424
Also we need to exclude some dirs from codecov with this: https://docs.codecov.io/docs/ignoring-paths

[2019-06-30 09:36] tomponline commented on #304
@ysmolsky yes that would be OK, even better would be in top menu, the FAQ bit seems too wide and on some browsers the client libs item is not displayed fully, so it could do with a refresh.

[2019-06-30 09:37] tomponline commented on #429
@ysmolsky sounds good

[2019-06-30 18:40] ysmolsky commented on #260
https://github.com/beanstalkd/beanstalkd/issues/229#issuecomment-114750350

[2019-06-30 18:40] #260 closed

[2019-06-30 18:48] ysmolsky commented on #258
The example in the topic is not reproducible. It seems that there is another client connected to the tube in author's case.
I tried to reproduce but I fail to see an error:
[code]

Closing.

[2019-06-30 18:48] #258 closed

[2019-06-30 19:11] ysmolsky commented on #255
I could not replicate anything mentioned in the comments. Also I see that beanstalkd 1.9 was used by @charukiewicz.
Please comment if you can reproduce the problem.

[2019-06-30 19:11] #255 closed

[2019-06-30 19:15] ysmolsky commented on #246
Guys, are you still experience this issue with v1.10? If yes, can you try recently released version v1.11? Please let me know if I should reopen this issue since it seems to be an old one.

[2019-06-30 19:15] #246 closed

[2019-06-30 19:20] ysmolsky commented on #11
The answer by @kr sums it rather well. Also I second this post https://xph.us/2010/05/02/how-to-handle-job-failures.html. From my experience it is possible to handle errors or crashes gracefully. I do not know why this issue was kept open for so long since we are not going to solve it foreseeable future. I will hold it open, but mark as unplanned.

[2019-06-30 21:28] sergeyklay commented on #424
I'm totally missed this. Thank you. Good catch! About excluding dirs: which dirs do you want to exclude?

[2019-06-30 22:29] stamster commented on #401
Segfault under such (basic?) condition... yikes!

Even for `UINT_MAX` constant, handling logic shall be applied - e.g. user level error response instead of sleeping with the fishes.

[2019-06-30 22:31] stamster commented on #430
That is interesting, but still it's only 3rd party (travis) service. Some real offsite benchmark is what I'd try, if avail.

[2019-06-30 22:34] stamster commented on #395
https://github.com/beanstalkd/beanstalkd/wiki/Client-Libraries

[2019-06-30 22:59] pprindeville commented on #339
@ysmolsky Done.

[2019-07-01 00:32] pmatseykanets commented on #395
I didn't update the page since created the PoC but here it is https://pmatseykanets.github.io/beanstalkd-docs/resources/libraries.html

[2019-07-01 00:43] pmatseykanets commented on #395
@ysmolsky @tomponline I know you have your hands full at the moment but would like to hear your thoughts as new maintainers at some point whether you feel like it's worth considering. Thanks.

/cc @kr

[2019-07-01 03:03] kr commented on #427
I'd suggest instead of two commands, one one a timeout and one without, have a single new command that always takes a timeout.

[code]

(I think it was a mistake to have a timeout-free reserve command in the first place.)

[2019-07-01 05:25] meox commented on #427
Ye you are right and infact if you check the code the command with timeout
and without share a 90% of the code because actually they use a default
timeout

On Mon, 1 Jul 2019 at 05:03, Keith Rarick <notifications@github.com> wrote:

--
GL
https://www.meocci.it <https://meox.github.io>

[2019-07-01 05:57] ysmolsky commented on #424
Most importantly, `ct`, also for clarity sake: `adm`, `pkg`, since we are not going to test them.

[2019-07-01 06:30] ysmolsky commented on #427
One data point: I never used `reserve` without timeout in my production code.

[2019-07-01 06:36] ysmolsky commented on #399
@tomponline we forgot about making an announcement in https://groups.google.com/forum/#!forum/beanstalk-talk

There is a script in `pkg`, but I have not tested it myself.

[2019-07-01 15:56] ysmolsky commented on #240
Not sure how it is different from the functionality of copy. The "move" could replicated by the copy command. Anyway, we do not plan to add such features for now. Also I am going to be very conservative for adding new commands. The set of commands should cover wide area. It's better to have small amount of command that are more robust and allow a lot to be implemented.
This looks like a some very

[2019-07-01 15:58] #233 closed

[2019-07-01 16:03] #231 closed

[2019-07-01 16:06] ysmolsky commented on #230
I think this is important issue with the sizes of data in beanstalkd. We need to streamline this and if possible extend `delay` and `ttr` size to more reasonable uint32 or better uint64.

[2019-07-01 16:13] ysmolsky commented on #226
From the flags I cannot determine that beanstalkd should output anything at all. Reopen if this is still an issue.

[2019-07-01 16:13] #226 closed

[2019-07-01 16:20] ysmolsky commented on #206
I would never implement something as this. It's too dangerous to allow. Please use shell commands if you need to clear binlog files.

[2019-07-01 16:20] #206 closed

[2019-07-01 16:22] ysmolsky commented on #184
Closing as too old. Feel free to reopen.

[2019-07-01 16:22] #184 closed

[2019-07-01 16:24] ysmolsky commented on #173
SPDY was deprecated: https://en.wikipedia.org/wiki/SPDY

[2019-07-01 16:24] #173 closed

[2019-07-01 16:25] ysmolsky commented on #170
dupe of #240. closing as the other issue has better formatted text.

[2019-07-01 16:25] #170 closed

[2019-07-01 16:26] ysmolsky commented on #167
There is no clear proposal here. Closing due to the age.

[2019-07-01 16:26] #167 closed

[2019-07-01 16:31] ysmolsky commented on #328
#160 is probably the same

[2019-07-01 16:33] ysmolsky commented on #145
@chrisminett what is the commit?

[2019-07-01 16:34] ysmolsky commented on #109
It goes against the protocol. To delete the job you need to reserver it first. So it cannot be fixed by allowing to delete any job. This could be fixed by allowing to reserver any job by id. Closing in favor of #310

[2019-07-01 16:34] #109 closed

[2019-07-01 16:49] ysmolsky commented on #107
I still do not understand what is meant by "the ability to block a group of jobs from running until another group of jobs has finished running, i.e job dependencies" and how it is related to tubes priorities. Most likely this to be closed soon.

[2019-07-01 22:54] archon810 commented on #284
Just retested and found the same issue is still present, this time on OpenSUSE Leap 15.1, which is the latest released OpenSUSE.

[code]

[2019-07-01 22:55] archon810 commented on #284
However, no issues in v1.11:

[code]

[2019-07-02 03:50] kr commented on #230
Yeah, the documentation here is incomplete and of low quality.

The implementation might be an issue for embedded systems? Most ordinary C compilers today use at least 32 bits for `unsigned int`, so in practice that is probably not an urgent problem. But I agree it should still be fixed.

One option to fix it might be changing the definition of `uint` in dat.h to `unsigned long`. This would actual

[2019-07-02 09:01] chrisminett commented on #145
@ysmolsky no idea, that was 4 years ago!

At a guess it was probably something to do with #219 which has now been replaced by #307 , to which you're assigned. The change to the `stats` command achieved by that PR looks good for our use case - being able to tell if a server is draining without having to put a job.

[2019-07-02 09:43] ChoHag commented on #378
Yury Smolsky writes:

I'm sorry but I didn't get a chance to finish this before I left the company I was working for at the time.

I have some partially-completed code somewhere but I don't believe I got as far as defining a message format.

Matthew

[2019-07-03 10:23] tomponline commented on #399
@ysmolsky will take a look thanks.

[2019-07-03 13:04] ysmolsky commented on #284
@archon810 thank you a lot. That is good news. Looks  like 1.11 is better in this regard. We are not going to fix this in 1.10, please use 1.11. If somebody experience problems with compiling 1.11 please open a new ticket.

[2019-07-03 13:04] #284 closed

[2019-07-03 13:11] ysmolsky opened #433 "does forking in tests affect correctness of coverage repors?"
@kr said in #431: "Note that this change doesn't prevent forking, it just limits the number of tests to one at a time." and

It means that we need to investigate if forking affects the coverage correctness.

[2019-07-03 13:14] ysmolsky commented on #145
@chrisminett thanks, this helps me. I will look into that PR and come with my own, better, fix, hopefully.

[2019-07-03 13:20] ysmolsky commented on #378
@ChoHag thank you. I really wanted somebody to come with scoped proposal for logging. This issue looks unspecified. I just do not have time for everything :-) I will not close this issue as reminder that we probably need to handle logging of errors into syslog at some point of time.

[2019-07-03 13:25] #339 closed

[2019-07-03 14:28] ChoHag commented on #378
Yury Smolsky writes:

For the benefit of the ticket's eventual victim I've included a patch containing what I'd done so far; little more than opening the connection and logging a few isolated incidents.

Matthew

[2019-07-03 14:39] ysmolsky commented on #378
@ChoHag I cannot see the patch in this ticket. Is there a link to it?

[2019-07-03 14:49] ChoHag commented on #378
Yury Smolsky writes:

It was included in the email as an attachment. I don't know what github has done to it.

Matthew

[2019-07-03 14:53] ChoHag commented on #378
Why is everything that gets put on the web so horribly broken?

I'm sure it'll go and mangle this somehow. @Github, fix your junk.

In-line this time because github haven't got as far as day 3, email, in How To Internet In 21 Days.

Matthew

diff --git a/dat.h b/dat.h
index 6d36d79..13200d2 100644
--- a/dat.h
+++ b/dat.h
@@ -168,6 +168,7 @@ struct tube {
 };

+/* TODO: Have these emit logs */
 #de

[2019-07-03 19:08] jhammer commented on #160
@ysmolsky version 1.9. Sorry, I do not have the stack trace. Seem pretty rare in our case. Only hit the issue once after literally years of uptime.

[2019-07-03 19:54] #145 closed

[2019-07-03 20:32] ysmolsky commented on #304
Top menu sounds even better.

[2019-07-04 05:31] thorro commented on #160
There are a few stacktraces lying around here. We hit it once in a while. Lately not much, since we've moved majority of our workload to another queue manager. It seems the number of crashes correlate with workload.

[2019-07-04 06:00] ysmolsky commented on #160
@thorro could you paste those stacktraces here? Did you move to another queue manager because beanstalkd failed to handle the load?

[2019-07-04 06:10] thorro commented on #160
@ysmolsky we moved mainly because of the crashes. Link to bt:

https://github.com/beanstalkd/beanstalkd/issues/328#issuecomment-345387502

Also, because sometimes binlog files got out of hand. Meaning, when there were a lot of jobs, binglog size grew, which is normal, but when the jobs got processed and deleted, binlog size stayed the same, it didn't shrink. But that's another issue.

[2019-07-04 17:24] Roguelazer commented on #321
This would be great!

[2019-07-04 22:43] kaspergrubbe commented on #399
Yo! Thanks for your efforts towards a `1.11`-release!

[2019-07-05 05:38] sergeyklay commented on #424
We should exclude test utils as well:
![image](https://user-images.githubusercontent.com/1256298/60700335-35075480-9f00-11e9-8d05-df96d16b534e.png)

[2019-07-05 07:51] ysmolsky opened #441 "testing: make the name of functions readable"
This is undesirable:
[code]
It should be:
[code]

Applies almost to all functions in `test*.c`

[2019-07-05 12:39] ysmolsky opened #442 "all: reduce complex lines in the code"
Don't get me wrong. I like the most of the style adopted in beanstalkd. There are some things that can be improved:

1. `return`'s on the same line as `if`. They are common. `return` should start a new line always.
[code]
2. Comma expressions in returns. Comma expressions. Not so common. Do not use comma expression where multiple lines can do.
[code]
I prefer to read the code vertically, but this

[2019-07-05 14:00] ysmolsky opened #443 "Makefile: add -Wextra flag and fix errors"
To make compiler more strict we can add `-Wextra` and fix these errors:
[code]

[2019-07-05 14:47] ysmolsky commented on #423
Works fine on macOS 10.14.5:
[code]
I tried both 6225c62 and master (4b452b4) tips.

[2019-07-05 18:24] sergeyklay commented on #423
Let me recheck again.

[2019-07-06 08:02] sergeyklay commented on #423
@ysmolsky Did you use Clang on macOS?

[2019-07-06 21:08] ysmolsky commented on #423
Yes, clang builds it fine.
[code]
Also I have installed gcc8 and tried to build:
[code]

[code]

[2019-07-07 16:13] ysmolsky commented on #424
While working on testing functions in prot.c I have noticed that even though it is covered by tests at least somewhat, this file is reported as 0% coverage. That is completely wrong.

[2019-07-08 03:33] kr commented on #424
Yeah. Sorry, that's what I was trying to address with this comment https://github.com/beanstalkd/beanstalkd/issues/424#issuecomment-506929644.

[2019-07-08 03:36] kr commented on #442
For whatever it's worth, I 100% agree with you. I think I was wrong to use that style.

[2019-07-08 05:37] ysmolsky commented on #424
I have actually found the reason. It is not forking and collecting from separate process. Coverage works fine from any process. The culprit is killpid(pid, sigkill) of the child server, where coverage cannot write cov data. The fix is to setup sigusr2 handler and handle that in tested server to flush cov data before the exit. I wonder if it makes sense to patch upstream ct lib? Do you maintain tha

[2019-07-08 08:50] stamster commented on #399
I believe Debian and/or other package maintainers shall be notified about new release.

These are results from current Ubuntu LTS distro release:

[code]

[2019-07-08 09:02] ysmolsky commented on #399
@stamster what is the best way? is writing to https://groups.google.com/forum/#!forum/beanstalk-talk enough?

[2019-07-08 09:10] tomponline commented on #399
@ysmolsky I'm going to do that tonight btw

[2019-07-08 09:10] tomponline commented on #399
Alpine linux already picked it up: https://pkgs.alpinelinux.org/packages?name=beanstalkd&branch=edge

[2019-07-08 09:12] #441 closed

[2019-07-08 10:04] #230 closed

[2019-07-08 20:05] tomponline commented on #399
Post to group is live https://groups.google.com/forum/#!topic/beanstalk-talk/qdWVZcUOvQg

[2019-07-08 20:05] #399 closed

[2019-07-08 21:09] sergeyklay commented on #430
For me is more interesting to see  benchmark with `-O2` flag for both compilers.

[2019-07-08 21:19] sergeyklay opened #452 "Introduce change log"
I propose to keep a changelog to make things easier for fellow developers/users when we release a new version. All notable changes to this project should be documented in a change log file.

I usually base mine off the "[Keep a Changelog](https://keepachangelog.com/en/1.0.0)" format. There's not really a reason to follow semver for this project, so I'd recommend just removing that part of the temp

[2019-07-08 21:29] sergeyklay commented on #423
Well, there is an issue with pure gcc on linux then. Try to add optimization flags to the build matrix to see the problem.

[2019-07-08 21:38] kr commented on #424
Yeah, I agree it makes sense to have ct handle this somehow, since it would be difficult for the test suite to do it. Not 100% sure sigusr2 is the best approach, but I opened https://github.com/kr/ct/issues/18 so we can discuss fixing it.

[2019-07-09 03:51] kr commented on #424
After thinking some more, this seems like it would be easy enough to do in beanstalkd's tests with no changes to ct.

In testserv.c, function `mustforksrv` could register an atexit function to signal the child and then wait for the child to finish.

[code]

With kill_srv_atexit defined as something like

[code]

Might even be good to actually use `SIGTERM` there instead of `SIGUSR2` since we do in

[2019-07-10 08:01] #433 closed

[2019-07-10 12:26] ysmolsky commented on #423
We can fix error in file.c, but errors in ct.c should be fixed in https://github.com/kr/ct/issues/20

[2019-07-10 13:18] ysmolsky commented on #443
Clang 10 on my OSX is not very strict for -Wextra.
Errors produced in travis matrix:

**linux-clang:**
[code]
**linux-gcc:**
[code]

[2019-07-12 08:39] ysmolsky opened #458 "typedefs of ms, job and tube should not hide the pointer"
Make them similar to other typedefs (`Conn`, `Heap`). The code in question:
[code]

_Maybe, move each typedef next to the corresponding struct definition:_
[code]
_This may allow easier navigation to the struct definition from the referencing source code._

[2019-07-12 08:49] ysmolsky commented on #423
@sergeyklay can you try now? All errors mentioned above should be fixed by now.

[2019-07-12 10:59] #423 closed

[2019-07-13 02:16] kr commented on #458
I tried to do this before. But some types have circular references to each other, so at least one of the typedefs can’t go next to its  struct definition. So I figured at least we can put all the typedefs together so it looks organized & tidy.

[2019-07-13 06:36] ysmolsky commented on #458
@kr, thanks for saving time. Circular references were not on my mind.

[2019-07-13 06:43] ysmolsky opened #464 "more strict parsing of the ID parameter in commands"
While testing the `peek` command I have discovered that parsing of the id parameter in commands is not strict enough:
[code]
Parsing the id should more strict than that, looks at the `read_num` function of an inspiration.

This test should be uncommented after the fix. It should pass on Linux:
[code]
Right now it fails with this error:
[code]
https://travis-ci.org/beanstalkd/beanstalkd/jobs/558005

[2019-07-13 07:05] ysmolsky commented on #380
I’m closing old issues. Please reopen if this is still a problem for you or if you can provide more details.

[2019-07-13 07:05] #380 closed

[2019-07-13 07:05] ysmolsky commented on #359
I’m closing old issues. Please reopen if this is still a problem for you or if you can provide more details.

[2019-07-13 07:05] #359 closed

[2019-07-13 07:06] ysmolsky commented on #282
I’m closing old issues. Please reopen if this is still a problem for you or if you can provide more details.

[2019-07-13 07:06] #282 closed

[2019-07-13 07:06] ysmolsky commented on #107
I’m closing old issues. Please reopen if this is still a problem for you or if you can provide more details.

[2019-07-13 07:06] #107 closed

[2019-07-13 18:12] ysmolsky opened #465 "README: add that beanstalkd requires C99 compatible compiler"
Keith, one question. Did you build beanstalkd with C89 in mind? I am asking because I have merged some changes that do not conform to C89 and not sure if I have made a mistake there. I just realized that you were following C89 with variable declaration. I could not find anything mentioned in this repo or in docs about C89. But I see that we use types like uint32_t, then most probably compiler shou

[2019-07-14 09:38] sergeyklay commented on #465
My 2 cents. If you want to write _fully portable code_, w/o any exception, then you should to use C89 (old ANSI C standard). As far as I know, [only a few compilers](https://en.wikipedia.org/wiki/C99#Implementations) supports C99 completely (neither gcc nor clang). Finally C99 has been withdrawn by both [ANSI/INCITS](https://en.wikipedia.org/wiki/ANSI_C#cite_note-10) and [ISO/IEC](https://en.wikip

[2019-07-14 13:00] ysmolsky commented on #395
@pmatseykanets I will be frank and maybe too blunt. I do not have capacity for this right now. Until I fix some critical bugs with segfaults (and one that is hard to replicate), I won't go into website business. I would like someone to takeover this completely. Would you be able to maintain and support such a website in future? I do not want to sound ungrateful, I appreciate any kind of help. I ju

[2019-07-14 13:02] sergeyklay commented on #465
Btw, it would be useful to have a page (wiki?) with a description of supported compilers, platforms, language standards and so on.

[2019-07-14 13:05] ysmolsky commented on #465
Thank you. I have investigated the sources prior my involvement into the project. I see that some of the C99 features were used before. Things like `stdint.h`, variables declared in the middle of a block, but not designated initializers. It means that existing sources required some kind of support of C99 already.

I would like to put that in README.md since we have some of it there (OS). It is goo

[2019-07-14 13:14] ysmolsky commented on #465
Maybe, we could extend the matrix with different versions of gcc and clang from here: https://docs.travis-ci.com/user/languages/cpp/#gcc-on-linux and we could mention what version do we test against.

[2019-07-14 15:36] tomponline commented on #395
Is it possible to do something like this but still use Jekyll or something similar that is supported by github pages generator, that way it would have minimal requirements on contributors to make updates and not require much maintenance.

[2019-07-14 19:58] pmatseykanets commented on #395
@ysmolsky Both frank and blunt is fine with me :smile

I think I'll be able to

To be fair this type of question "Why X?" is not always easy to answer. There are multiple depends to it and of course there are usually alternatives. For example why did you choose Codecov over Coveralls, or Travis over CircleCI?

Now the description of the issue partially explains that VuePress is a modern **static**

[2019-07-14 21:19] tomponline commented on #395
Thanks, so does that mean the markdown files can just be edited and then pushed to github without the sites HTML files being generated and pushed, and then github pages will generate them? Cheers

[2019-07-15 00:21] pmatseykanets commented on #395
Of course it’s just the build will be run by Travis or CircleCI and not GitHub itself. Although nowadays GitHub actions could be used if there is a free version of them for public repos. In any case there is nothing different from the contributor standpoint, and more explicit (less magic).

[2019-07-15 03:33] pmatseykanets commented on #395
In fact, I just set it up to do just that with TravisCI. Any push to master publishes changes.

[2019-07-15 13:55] #429 closed

[2019-07-15 19:56] ysmolsky opened #470 "codecov coverage differs from locally generated one"
The coverage generated by codecov is different from coverage generated on macOS locally. I have looked at prot.c. Some tests were not run in gcc-linux version! For example command kick was not tested in gcc-linux at all:
codecov:
<img width="862" alt="Screen Shot 2019-07-15 at 22 52 33" src="https://user-images.githubusercontent.com/140245/61244631-5a436080-a753-11e9-91dd-8e3473a7127b.png">
locall

[2019-07-15 19:58] #401 closed

[2019-07-15 20:07] ysmolsky commented on #470
Hmm, wasted 1 hour figuring out that thing above for the pull requests. After the merge coverage went back to normal levels and the `KICK` case branch is covered again: https://codecov.io/gh/beanstalkd/beanstalkd/src/master/prot.c#L1420

I think, I am starting to have wicked kind of relationship with codecov. 🦄

[2019-07-16 06:15] #470 closed

[2019-07-16 08:01] ysmolsky opened #472 "cast between incompatible function types"
gcc8 on macos:

[code]

The type of `Serv.conns` is Heap while `connrec` sets `tickpos` to -1 for some reason. Needs further investigation.

[2019-07-16 08:05] ysmolsky commented on #465
Alright, another data point in this saga:

Trying to switch on Wextra lead to some weird errors from gcc 4.8.* when optimization is turned on. Right now I am thinking that C99 is a bad thing. Even when there are designated initializer all over the place, some old compilers complain about some fields. This is the example:
[code]
gcc (Ubuntu 4.8.4-2ubuntu1~14.04.3) 4.8.4:
[code]
I am starting to thi

[2019-07-16 08:31] sergeyklay commented on #465
Shouldn't we provide the possibility to use both standards?

[2019-07-16 08:34] sergeyklay commented on #465
My point is to have official support of "minimal compatible language version", e.g. C89. If it is impossible or/and irrelevant let's use C89 then. But the most important thing is to understand (and declare) the minimum possible version.

[2019-07-16 08:40] sergeyklay commented on #465
@kr thoughts?

[2019-07-16 08:54] ysmolsky commented on #443
All errors were fixed now, but still some compilers returns some kind of crazy warnings converted to errors. I do not want other compiling and distributing this software be blocked because of some exotic warning popping up somewhere. So I decided to no how that road. `Wextra` has no place in Makefile by default.

I suggest developers to use that flag on their machine to check the code, thought.

[2019-07-16 08:54] #443 closed

[2019-07-16 09:09] ysmolsky commented on #465
Right now sources can be compiled with -std=c89 and -std=c99. I have no changed anything. And I am not going to propose adding those parameters to the Makefile. This ticket is mostly to decide what kind of features do **we** want to use. Since we do not support Windows we can use c99 freely as most if not all major compiler/versions support almost whole set of c99 features.

Repeating myself, I am

[2019-07-16 15:23] alanpost opened #475 "testing: cttest_close_frees_job fails on Linux"
Producing the following output, rather than succeeding.  A build against master last succeeded at Mon Jul 15 01:22:02 UTC 2019:

    ct/_ctcheck
    ........................F................................................

    cttest_close_frees_job: failure
    start server port=40517 pid=4338

    <29 INSERTED 1
    <28 RESERVED 1 1
    <28 a

    <29 OK 149
    <29 ---
    id: 1
    tube: defa

[2019-07-16 16:01] ysmolsky commented on #475
What system are you running it on? What is the compiler version?

[2019-07-16 16:36] alanpost commented on #475
This failure happened on CentOS 7, Ubuntu 14, and Ubuntu 16.  Which is every system I tried it on.  All amd64 with their respective system compilers.  In the case of CentOS 7 that's:

    $ gcc -v
    Using built-in specs.
    COLLECT_GCC=gcc
    COLLECT_LTO_WRAPPER=/usr/libexec/gcc/x86_64-redhat-linux/4.8.5/lto-wrapper
    Target: x86_64-redhat-linux
    Configured with: ../configure --prefix=/us

[2019-07-17 13:08] hkmaly commented on #246
Just a note: I upgraded some old beanstalkd to version 1.10 and then noticed that I have this problem. Specifically, I had some very old jobs in "ready" state in some testing tubes (not really touched for long time) and some also very old jobs delayed and re-failed-to-process-ed every five seconds, and there was no compaction, those few kilobytes kept few gigabites of logs around.

However, consid

[2019-07-17 13:26] ysmolsky commented on #246
Please let me know if you encounter these again. If you could send the dump of binlogs somehow that would be great. Or at least print the those jobs infos. Any info to reproduce the bug is much appreciated!

[2019-07-17 13:27] ysmolsky commented on #246
One note. I have closed this ticket because it is old and does not contain anything actionable. I mean nothing to reproduce and no way to fix this.

[2019-07-17 16:41] jaydiablo commented on #246
We've just deployed a `1.11` instance and will be monitoring the disk usage over time, it may take some time to see the negative effects, but will report back.

[2019-07-17 17:31] #475 closed

[2019-07-17 17:32] ysmolsky commented on #475
@alanpost can you please try the tip master?

[2019-07-17 17:33] ysmolsky commented on #475
I have just merged my guess at the issue.

[2019-07-17 18:06] alanpost commented on #475
@ysmolsky The test suite passes again on the platforms I reported here.  Thank you for being so attentive, that was very fast.

[2019-07-18 05:08] kr opened #477 "fsync usage needs audit"
Fsync, as implemented on Linux, has some semantics the Postgres devs found extremely surprising. Email thread: <https://danluu.com/fsyncgate/>

When I read that email thread I found it surprising, too. This might very well have implications for beanstalkd, since it means I originally wrote beanstalkd assuming an incorrect set of semantics for fsync.

Ideally, someone should take the time to unders

[2019-07-19 05:00] kr commented on #465
Sorry for not replying sooner.

For a while, I had been trying to stick to C89 (in `-pedantic` mode), but I suspect that's not worth the trouble. How many of beanstalkd's users need to compile it with anything other than a new-ish gcc or clang? I suspect the number is vanishingly small. I agree with everything you said in https://github.com/beanstalkd/beanstalkd/issues/465#issuecomment-511733607.

[2019-07-19 05:39] kr commented on #472
The `Record` function type is used by the binary heap to record the new positions of elements whenever they get moved or inserted. (Also I think "Record" is not a great name for this type, sorry.) The -1 value is probably coming from heapremove (which uses -1 to indicate the element has been removed).

Now that the compilers are being run in a more strict mode, it might be necessary to define conn

[2019-07-19 05:59] ysmolsky commented on #472
Thanks @kr, it looks like a good next step to me.

[2019-07-19 06:28] kr opened #479 "misleading comment about Walver in dat.h"
This comment isn't really true:

https://github.com/beanstalkd/beanstalkd/blob/f7803cab05dbbb21f606555676e1ac559afc1bd5/dat.h#L136-L137

Only two WAL versions have appeared in beanstalkd releases: version 5 and version 7. Current beanstalkd can read either version, but only writes version 7. (Other version numbers have been consumed in commits between releases.)

If you run beanstalkd 1.5 or newer

[2019-07-19 06:37] kr commented on #479
Here's the workflow I was using to do this:

1. If any change needs to be made to the format, first increment `Walver`.
1. **If and only if this is the first such change** since the last release:
   1. Copy-paste relevant file-reading functions in file.c and add the old version number to their names. For example, if you are incrementing `Walver` from 7 to 8, then copy `readrec` to `readrec7`. (Cur

[2019-07-19 06:44] kr commented on #479
Incrementing `Walver` for *every* change, even if not every version will be released, is helpful even if it "wastes" version numbers. It is a really easy thing to do and it means during development you won't have to worry about misinterpreting the contents of a binlog that you generated with a dev copy of beanstalkd.

[2019-07-19 06:45] ysmolsky commented on #479
I feel like I should have waited more on that PR. I am sorry being too eager to commit my semi baked comments. I will give it proper wait time for the next PRs.

Thank you, Keith. Your input is invaluable. I have seen those functions and a tests and my guess was that all migrations are manual, that for every migration we need to follow the procedure you described above. What I had in mind that we

[2019-07-19 06:59] kr commented on #479
No worries! I hadn't given any indication I was going to be offline for a while. It's probably better not to block on me. Definitely don't feel bad about being too eager, you've really brought this project back to life.

[2019-07-20 05:38] ysmolsky commented on #430
@potatosalad tested it: using [VMware Fusion](https://www.vmware.com/products/fusion.html) and [SmartOS](https://wiki.smartos.org/download-smartos/) version `joyent_20190718T005708Z` the results are:

[code]
https://github.com/beanstalkd/beanstalkd/pull/202#issuecomment-513383738

[2019-07-20 05:49] ysmolsky commented on #430
Running this benchmark on some production Linux server:
[code]

[2019-07-20 05:56] ysmolsky commented on #430
At the same time running simple python client of N iterations:
[code]
Produces this on the same Linux productions box:
[code]
And on local macOS box:
[code]
Meaning that something is wrong with benchmark itself and not with server.

[2019-07-20 07:32] ysmolsky commented on #430
The reason of this slowness is the `readline` function:
https://github.com/beanstalkd/beanstalkd/blob/master/testserv.c#L204-L255

Specifically the way the output is read char by char using the `select` systemcall. It seems to be slower on Linux.

@kr

[2019-07-20 09:14] ysmolsky opened #483 "move ignored coverage files from .travis.yml to .codecov.yml"
Codecov uses .codecov.yml now: https://github.com/beanstalkd/beanstalkd/pull/482
We might want to move ignored files from travis to codecov config.

And we might want to enable status checks in codecov for the project with threshold ~10%, so that only big deep in coverage will result in the blocked merge.

https://docs.codecov.io/docs/commit-status

@sergeyklay

[2019-07-20 10:16] sergeyklay commented on #483
I'll try to sort out ASAP. Thank you

[2019-07-20 10:37] kr commented on #430
Ah, I guess we should put a buffer in front of that fd.

[2019-07-20 14:09] #430 closed

[2019-07-20 14:21] #472 closed

[2019-07-21 17:15] xpader opened #485 "Chinese protocol wrong on peek cmd."
Peek command "All but the first operate only on the currently used tube." is wrong translate, in chinese translate "其中第一种形式的指令是针对当前使用的tube 格式" mean The first operate must on the currently used tube", but real mean is "All operate must on currently except first", so correct translate is "除了第一个，其它的操作只能在当前Tube。"。
@mickeyouyou

[2019-07-22 06:54] s4kibs4mi opened #486 "JSON format instead of Serialization"
It would be portable if beanstalkd publishes data in broker on JSON format instead of serialized data.

[2019-07-22 07:29] mickeyouyou commented on #485
Please feel free to open a PR for fix it.

[2019-07-22 07:38] ysmolsky commented on #486
@s4kibs4mi Can you clarify this?

[2019-07-22 08:46] s4kibs4mi commented on #486
Lastly, when I checked I saw that job stays at broker as serialized,
ie :
[code]
Above is a job information in serialized state. Can't we make this json formatted ?
Let's say I am working on an environment were beanstalkd library isn't available. In this case, if job data is JSON formated I can easily make a payload and push to broker. Also, JSON formatted data is easy to read and understand than

[2019-07-22 08:46] stamster commented on #430
Great job @ysmolsky

[2019-07-22 09:03] ysmolsky opened #487 "structs with flexible array member; that might be not safe"
For example, `tube` has `struct job buried` as last member, while `struct job` has `tube tube` embed in the middle. `struct jobs buried` means that this struct is embed, while `tube tube` means the pointer to the tube struct. This produces warnings if I try to compiler with `-pedantic`. Also it is hard to look and reason about this because I have to constantly think that `tube` is in fact a `*tube

[2019-07-22 09:11] ysmolsky opened #488 "get rid of named variadic macros that is GNU extension"
Flag `-pedantic` leads to this error. I do not see how to eliminate this because macro is used  in two forms: `twarn("s")` and `twarn("s %s", a)`. C99 standard does not allow no arguments passed to the variable arguments, also it forbids the use of ## (which removes comma from macro when VA_ARGS is empty).

It's a reminder, because I don't know if it makes sense to fix this at all.

[code]

[2019-07-22 10:04] kr commented on #487
Ah, this arrangement was made under the assumption that it's okay to have a struct with a flexible array member as the last element in another struct. But looking at the standard I see that's not allowed, so it must be a gcc/clang extension.

I bet the easiest fix for this would be changing the last member of struct job, which is currently `char body[]`, to `char *body`, and adjusting the code acc

[2019-07-22 10:11] kr commented on #488
If it has to be fixed, maybe something like this would be palatable:

[code]

And similarly for twarnx and twarnxf.

[2019-07-22 10:22] ysmolsky commented on #488
Thanks, looks good. And one addition is that difference between `twarn` and `twarnx` is obscure. `twarn` should have been named `twarnerr` and `twarnx` as just `twarn`. I keep stuttering while reading this code.

Will think more.

[2019-07-22 10:27] ysmolsky commented on #487
It is okay per standard. I have checked that because I was surprised by this error.

It is not okay to **embed struct with FAM** into another struct even as the last member.

[2019-07-22 10:45] kr commented on #488
The naming convention comes directly from the `err`, `errx`, `warn`, and `warnx` functions of the std lib. I just added a `t` on the front.

[2019-07-22 10:47] kr commented on #487
Yeah, that's what I was trying to describe. Sorry for the ambiguous language.

[2019-07-23 15:10] ysmolsky commented on #486
beanstalkd is format agnostic. Every job is just a sequence of bytes. It is up to the client to interpret the contents of the job. So, I am not sure what is need to be fixed on beanstalkd side.

[2019-07-23 15:11] ysmolsky commented on #485
PR's are more than welcome to fix the issue. _Pinkie-promise to merge them._ 🦄

[2019-07-23 15:13] #486 closed

[2019-07-24 05:49] #464 closed

[2019-07-24 05:58] #479 closed

[2019-07-24 06:20] #465 closed

[2019-07-24 07:26] ysmolsky commented on #382
There are so much more memory leaks in other tests, so I do not even know where to get started on this. Maybe it does not make sense to make tests leaks free and just have some kind of automated stress testing run on one instance of beanstalkd under valgrind inspection?

[2019-07-24 07:33] sergeyklay commented on #382
Let me prepare a built/test matrix for Travis CI

[2019-07-24 07:40] ysmolsky commented on #382
FYI, my fix is working. I have tested it on Linux manually:
```MAKEFLAGS= valgrind ct/_ctcheck -b >out 2>&1```

`MAKEFLAGS=` hack is required because _ctcheck will fail if there is none. I will submit patch to ct soon. Sighs...
And you should not run "valgrind  make bench -b", that won't produce what we want.

It would make sense to add option into `ct` to run only tests/benches matching some patt

[2019-07-24 07:48] ysmolsky commented on #382
I would be awesome to have valgrind ran on linux via Travis, the output from it should not break the build too. That way we could peek what tests are leaking memory and fix them too. I guess.

[2019-07-24 10:01] kr commented on #382
Is there a way to tell valgrind to ignore leaks of memory that was allocated in test files? It seems like a waste of effort to free memory immediately before the process exits when the OS will free that same memory automatically anyway, and it makes the test source code a little noisier, and it makes the tests a tiny bit slower.

[2019-07-24 10:14] sergeyklay commented on #382
As a far as I know when valgrind runs its default tool, memcheck, it automatically tries to read a file called `$PREFIX/lib/valgrind/default.supp` (`$PREFIX` will normally be `/usr`). However we can make it use additional suppression files of your choice by adding `--suppressions=<filename>` to command-line invocation. For more see: http://valgrind.org/docs/manual/manual-core.html#manual-core.supp

[2019-07-24 10:54] ysmolsky commented on #382
Collecting right suppressions into file is tricky.
valgrind reports 18 places with definite memory leaks in tests. It means that only 18 tests are memory leaking, might be not so bad after all.

[2019-07-24 11:08] kr commented on #382
That makes sense. If suppressing errors is tricky then I agree it would be better overall to just eliminate the leaks.

[2019-07-25 06:42] ysmolsky commented on #234
Since I do not plan to fix this on Solaris, and it's been 5 years. I am closing this. If anyone wants to fix add Solaris, feel free to send a PR.

[2019-07-25 06:42] #234 closed

[2019-07-25 06:43] ysmolsky commented on #237
This file is no longer present in the repo.

[2019-07-25 06:43] #237 closed

[2019-07-25 06:43] ysmolsky commented on #236
Since I do not plan to fix this on Solaris, and it's been 5 years. I am closing this. If anyone wants to fix add Solaris, feel free to send a PR.

[2019-07-25 06:43] #236 closed

[2019-07-25 06:43] ysmolsky commented on #235
Since I do not plan to fix this on Solaris, and it's been 5 years. I am closing this. If anyone wants to fix add Solaris, feel free to send a PR.

[2019-07-25 06:43] #235 closed

[2019-07-25 07:09] ysmolsky commented on #337
This applies to all the command that defined like this:
[code]
These commands expect parameters. The fix is easy: to remove the space from definition and account for its absence in the switch processing commands.

Commands with additional space in macro definition are processed:
[code]

But after space removal it could be:
        if (read_u64(&id, c->cmd + CMD_PEEKJOB_LEN+1, NULL))

Space can be

[2019-07-25 07:24] ysmolsky commented on #337
This might be a good first patch to try.

/CC @sergeyklay @tomponline

[2019-07-25 07:48] ysmolsky commented on #483
https://github.com/pingcap/tidb/blob/master/.codecov.yml

[2019-07-25 08:00] #485 closed

[2019-07-25 10:46] kr commented on #337
I’m not sure just adding 1 would be sufficient, since it would skip over any character and allow `deleteX123`. We still have to check explicitly somehow that the space is there.

[2019-07-25 16:07] ysmolsky commented on #382
So I was thinking about this.  There are two kind of tests in `beanstalkd`: for structures without spawning child server, and with child process.

1st kind of tests: after removal of leaks we cannot still prove that there is no leakage in the main program because the absence of leak in a test does not mean that we forgot about calling free for the structure in the main program somewhere. How can w

[2019-07-25 18:01] kr commented on #382
Is there a way to trigger a memcheck/valgrind report at an arbitrary time, well before the process is ready to exit? I would expect any leaks detected that way to be "real" because there should still be a meaningful root set.

For example, in a test that spawns a child server, the test function might signal the child process to generate a report after it runs the test logic, but before it kills th

[2019-07-26 06:27] ysmolsky commented on #382
I am not aware of that feature of valgrind. But maybe there is no need to do that.
If we eliminate all the known places with leaks (and make server to cleanup after itself), then valgrind will happily report newly detected ones when they happen. I have learned about valgrind - it is very good at finding memory bugs.

Anyway, y-day I got a bit weary from the initial push on beanstalkd and I was not

[2019-07-26 09:05] ysmolsky commented on #243
I have noticed myself the same behavior in Docker too, but I never dig into that. When I run server locally SIGTERM works as expected. Docker is supposed to propagate SIGTERM to the first process that is being run.

[2019-07-26 09:15] ysmolsky opened #496 "graceful termination of beanstalkd"
I want to entertain the idea of beanstalkd doing graceful exit on `SIGTERM`. That means closing all connections properly and completion of the pending operation until it's done.

That way `srvserver` could exit and perform all cleanup operations. In the end we could tell if some memory was not accounted for. This unblocks testing of server in the #382.

Signal handler could set some global flag `s

[2019-07-26 18:33] #483 closed

[2019-07-26 18:57] ysmolsky opened #500 "add a merge check to prevent patches with big drop in coverage"
We might want to enable merge status checks in codecov for the project with threshold ~1..2%, so that only big drop in coverage will result in the blocked merge.

https://docs.codecov.io/docs/commit-status

Example here: https://github.com/pingcap/tidb/blob/master/.codecov.yml

/CC @sergeyklay

[2019-07-26 21:00] ysmolsky commented on #477
What happens if beanstalkd is killed with -TERM in the middle of writing files (write() then fsync())? I guess the same as when it is killed with -KILL

[2019-07-26 21:01] ysmolsky commented on #477
It could be slightly related to #496.

[2019-07-26 21:09] ysmolsky opened #501 "sd-daemon.*: replace with libsystemd on Linux"
I guess this was ripped from some old systemd lib. Does it make sense to link the systemd lib on linux and just use these functions from the lib? while skipping this on other OSes?

If we have to keep it for some reason as it is, how can we test it? And what should we do with functions that are not being used?

I would prefer to get rid of it and just use the lib, but I may be missing something. @

[2019-07-26 21:50] kr commented on #501
When I added this file, the [instructions](http://0pointer.de/blog/projects/socket-activation.html) said:

So that's what I did.

It went on,

I never followed systemd development closely, so I didn't know they had got around to making the library. Today I learned! 😆 Now that libsystemd exists, IMO it is totally reasonable to use it.

[2019-07-27 12:40] #458 closed

[2019-07-27 15:19] silviucpp opened #505 "Move the source code files into a src folder"
Hello,

I think it's a good idea to move the source code files into a src folder and not keep them into the root folder where you have also other files like: license, readme, travis config, makefiles, etc.

Silviu

[2019-07-27 16:25] ysmolsky commented on #505
What problem are you trying to solve?

[2019-07-27 17:08] silviucpp commented on #505
It's not actual a problem. It's about organization of the source code aligned with a style used in most of the open source projects. For example go on github and select to see the trending C repositories for the last month.

From the first 6 project all have the srouce code in a dedicated folder and in 5 of them  that folder is called "src"

Examples:
https://github.com/pjreddie/darknet
https://gi

[2019-07-27 18:47] ysmolsky commented on #361
This could be solved to make program more robust. What happens if server is about to run out of FDs when it is going to write into binlog? Server should reject connections when there are less than 2 free FDs left, ideally. Not sure if it's possible without sacrificing some performance though.

[2019-07-27 19:10] silviucpp commented on #361
I think an easy workaround is to set the number of file descriptors the app can use to a higher limit when the app starts. This can be done into the code using the rlimit api or inside the systemd scripts using LimitNOFILE=X

If you set a value of 100000 most probably nobody ever will hit this limit with beanstalkd.

[2019-07-27 19:33] kr commented on #361
In the early days of beanstalkd, I did put some effort into making it work properly when it runs out of open fds, but it was tricky and I was never super confident that would be reliable.

Plus, there’s no real solution I’m aware of when it needs to open a new binlog file.

[2019-07-27 19:49] ysmolsky commented on #487
Converting to *char has worked. compiler in pedantic mode is happy about structs in the PR.

 🎉

[2019-07-29 02:05] xpader commented on #485
#494 PR merged.

[2019-07-29 04:57] #487 closed

[2019-07-29 05:07] ysmolsky commented on #505
I guess, I do not see this issue as critical for my workflow. Actually I prefer to have everything related to the project in the same directory because it's easier to navigate and work with files. This project is not so big compared to cited projects. I vote against moving sources in src for now.

[2019-07-29 05:25] ysmolsky opened #509 "proposal: setup a process for approving proposals"
We never discussed this question before and it is briefly mentioned in the Pull Requests section of [CONTRIBUTING.md](https://github.com/beanstalkd/beanstalkd/blob/master/CONTRIBUTING.md):

I think the place of the discussion should be changed to this issue tracker. Also proposal of the  feature should contain description of the feature without technical details of implementation. In the case when

[2019-07-29 05:34] ysmolsky commented on #488
Yes. All of those functions require some work. I plan to send a PR soon.

[2019-07-29 07:45] kr commented on #509
Great points.

If that document is going to be revised, it might also be nice to suggest that a good way to structure a proposal is in 2 parts: a description of the problem to be solved, focusing just on the problem itself rather than any particular solution, followed by a description of the proposed solution (still omitting technical details that aren’t necessary to evaluate the solution’s suitab

[2019-07-29 18:47] ysmolsky commented on #488
First try was not successful. This requires more work and planning. Right now these macros are used for reporting errors in testing and writing errors to stderr, however that it is not capture most likely by parent program, except for docker, nor logging has timestamps attached to it. So this is better be reworked in conjunction with fixing logging... 🤷‍♂

[2019-07-30 16:23] ysmolsky commented on #310
This might fix #240 as well by following sequence of commands:
* `reserve-job id-of-a-job-to-move`
* `put job parameters...`

[2019-07-30 16:39] ysmolsky commented on #379
This features is somewhat helps to solve some of usecases of #2. Client can pick the the id before adding the job and can store the job with specific id too. The main issue with reserving ID mechanism. Should we allow to pick any ID or should we ask for next ID to be returned by beanstalkd and then use it? What happens if client reserves some ID and does not use it?

[2019-07-31 00:14] kr commented on #310
This is an *excellent* idea.

One orthogonal new feature that combines with the rest of the system to make several other commands more powerful.

Regarding the semantics, I kind of think it would be good to have this command get the job not just from the ready queue, but from anywhere (delay, buried) as long as the job isn't reserved by another connection. That would let clients also change the de

[2019-07-31 00:40] kr commented on #379
I would suggest letting beanstalkd pick the actual ID value, like it already does.

The command would be:

[code]

With a response of:

[code]

And no error cases.

That's a great question. I think the simplest answer is that the ID remains unused and reserved forever. But then it would be possible to accumulate an unbounded amount of reserved IDs over time. So there ought to be a way to clean the

[2019-07-31 05:51] #488 closed

[2019-07-31 06:27] ysmolsky commented on #310
Yes, this is what I had in my mind too.

Also I would not introduce the `ALREADY_RESERVED` response and instead keep using `NOT_FOUND` for reserved jobs. What is the benefit for the client to know that the job was already reserved? Retry does not make sense because most likely the job will be processed or moved with some new id. Also, changing the response to this command means that we need to fix

[2019-07-31 17:01] ysmolsky commented on #310
@tw99, please read the comments above.

[2019-07-31 19:02] #505 closed

[2019-08-04 14:33] ysmolsky opened #524 "prot.c: what is the purpose of dirty"
I cannot quite grasp the meaning and idea behind the dirty variable. Especially `protrmdirty()` function drives me wild. I just do not understand what for is that?

@kr, please drop some hints.

This is exactly all the places where it's being used.
[code]

[2019-08-04 15:44] ysmolsky commented on #524
@kr, I have made my guess at it in #525. PTAL.  And I do not think that `dirty` is the best name of this variable, `poll_changes` might be better fit. Please see TODO comments.

[2019-08-05 05:46] #500 closed

[2019-08-05 11:14] ysmolsky opened #527 "beanstalkd does not exit on -TERM signal in Docker"
Something is off when beanstalkd is ran in docker container as first process.
[code]
I have attached strace. Notice that nothing happened for -KILL signal:
[code]

Dockerfile that uses beanstalkd 1.10 build on alpine:
[code]
I have tried debian:jessie with the same result. So it is not Alpine linux.

The code where it happens:
[code]
It means that on regular clean Linux when I sent -TERM to the pr

[2019-08-05 11:20] ysmolsky commented on #527
This issue is critical. At this moment beanstalkd is killed with -KILL signal by Docker after timeout of (10?) seconds. This leads to slow restarts and praying that kill did not corrupt WAL file. _Ugh..._ And I wondered why restarts of beanstalkd containers are so slow. 😭

[2019-08-05 19:36] kr commented on #524
You're right about the meaning of dirty. Feel free to rename it to anything you prefer.

[2019-08-06 07:36] #524 closed

[2019-08-06 10:12] ysmolsky commented on #243
This will be fixed in PR #528 and see issue #527 for the details.

[2019-08-06 10:16] ysmolsky commented on #157
This issue might be fixed in PR #528 and see issue #527 for the details. Before sigterm could happen in the middle of writing and I have no idea what it could lead to. After the fix SIGTERM wont happen in the middle of writing operation for sure. I have not verified this case because I do not have a way to reproduce this.

Comment from @kr is interesting, but it does not make sense at least to try

[2019-08-06 10:17] ysmolsky commented on #157
Also see #496 for future work on this.

[2019-08-07 06:21] ysmolsky commented on #496
From the point of crash-only software this ticket does not make any sense.

[2019-08-07 06:21] #496 closed

[2019-08-07 06:22] ysmolsky commented on #442
The main bulk of it was done, but the remains are to be fixed as we go. Closing

[2019-08-07 06:22] #442 closed

[2019-08-07 16:20] ysmolsky commented on #477
Origin of the fsyncgate link: https://danluu.com/deconstruct-files/. Good read.

[2019-08-07 17:13] ysmolsky commented on #378
Today as I was thinking about how we can at least glimpse into problem and errors happening inside of  beanstalkd, and looking at it running on out production servers:
[code]
I have realized. We do not even store logs for beanstalkd! So I cannot go and see if it generated any twarnx() at all. This issue requires proper fixing. Error should be logged.

I guess, I have only an impression of beanstal

[2019-08-07 18:07] kr commented on #378
Good point! I'd suggest redirecting stdout & stderr to a file or to a logger process.

[2019-08-07 21:17] ysmolsky commented on #477
Good summary from PG community on fsync() issue: https://wiki.postgresql.org/wiki/Fsync_Errors.

pgsql PANICs on fsync error.

MacOS does not write flush unless `F_FULLFSYNC` is used.  man page:

 provides the F_FULLFSYNC fcntl.  The F_FULLFSYNC fcntl asks the drive to flush all buffered
 data to permanent storage.  Applications, such as databases, that require a strict ordering of
 writes should

[2019-08-08 15:35] ysmolsky opened #534 ""kick-job" should not return 'NOT_FOUND' on IO error"
kick-job should return MSG_INTERNAL_ERROR on IO error so the client will get a clue what is going on.

[2019-08-08 15:54] ysmolsky opened #535 "OOM and "Internal Error" messages do not follow the protocol"
Protocol states:

But often the program throws INT_ERROR into the face of user when job cannot be written to the disk:
[code]
At the same time when WAL file cannot be allocated program respond by OOM:
[code]
Returning OOM for the case of error with IO is too optimistic, unless we can extract a special case of ENOSPC, No space left on device, and report OOM only for that case. All other IO errors s

[2019-08-08 15:56] ysmolsky commented on #535
It's just too much work already and work piles up the more I dig. I am not sure if I will be able to work on these things ever. Yet they are so fundamental to ensuring that client can trust the beanstalkd with his data.

[2019-08-08 16:02] ysmolsky commented on #477
Initial audio is not reassuring:
* Errors from fsync() are just ignored
* Errors in walmaint() are also ignored.
* Parent directory is never fsynced, and that is cruical to ensure that file was updated in full
* IO errors are not properly reported to the client, #535
* What should beanstalkd do when write() or fsync() has failed not because of full disk?

These questions and some more require addr

[2019-08-08 16:21] ysmolsky opened #536 "reconsider what happens in case of IO error"
In case of IO error in `walwrite()`:
* the `srv->wal` is disabled
* command is not completed
* INTERNAL_ERROR is replied to the user.

But that happens only once in a lifetime of a process. All further commands will not touch the disk and just stored in the memory. Client will have no clue that his next retry was not fully successful, that is beanstalkd no longer stores jobs to the WAL.

This is n

[2019-08-09 05:30] ysmolsky opened #537 "linux: ftruncate does not guarantee that future writes won't trigger ENOSPC"
Reconsider the usage of it. The comment from the PR #531
[code]
So there are two options here: use posix_fallocate or just write() enough space as it happens on osx, sunos.

@kr:

[2019-08-09 05:53] ysmolsky opened #538 "on Linux -s option will make wal files of the exact size without rounding"
[code]

It is not true for Linux and only valid for osx and sunos where allocation is done in a loop:
[code]

On Linux -s option will make wal files of the exact size without rounding.

[2019-08-09 08:09] ysmolsky opened #539 "OSX: fsync does not have the same effect as on Linux"
On some OSX `fsync` does not affect performance that much. `fsync` usage on OSX should be replaced with `fcntl(fd, F_FULLFSYNC, 0)` if `F_FULLFSYNC` is defined, otherwise fallback to 'fsync'.

Source:

https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/fsync.2.html

[2019-08-11 00:36] ptjm opened #540 "Proposal: pipeline /transaction"
Problem description: this is a specific solution meant to address raised in #240, #332, and #427
The idea is to have a pipeline command which causes a fixed set of subsequent commands to be handled atomically. This could be used to reduce the number of round trips to the server, or for use cases where a set of actions needs to be atomic.
Proposed solution: new command

[code]
response:
[code]
The

[2019-08-11 16:36] ysmolsky commented on #540
This sounds right to me. I like it. Kind gives the goal to work towards. We can work out details later when critical bugs with existing code and atomicity is fixed.

Things blocking this proposal:
* Right now operations are not so atomic on the level of persistence.
* There is no such a thing as transaction in the beanstalkd; we cannot unroll anything; command can happen or not.
* Commands are not

[2019-08-13 19:53] ysmolsky commented on #103
Implementing this features is rather trivial, the only place to change is the parsing functions. Internally almost everything is stored in nanoseconds. So fractions could be parsed into nanoseconds.

Does anyone wants to get his hands dirty?

[2019-08-13 19:55] ysmolsky commented on #56
The spec of the feature is unclear. And there are not many voices asking the feature here.

[2019-08-13 19:59] ysmolsky commented on #141
I do not think that this should be fixed on the server side except for this weird glitch. I gueess things have changed since 2012. So if the clients sends too long command, then two responses will be sent to the client. In the case of wrong payload, it's a job of a client to make sure that it does not sent broken data, I do not see how server can fix that.

[code]

[2019-08-13 21:28] sergeyklay opened #545 "twemproxy (nutcracker) support"
Hello team,

I would like to start discuss on integration with [twemproxy (nutcracker)](https://github.com/twitter/twemproxy). Initially it was designed as a fast, light-weight proxy for memcached and redis. And I'm interested on beanstalkd support.

**twemproxy features** (copied from project page)

- Fast.
- Lightweight.
- Maintains persistent server connections.
- Keeps connection count on the

[2019-08-14 05:37] ysmolsky commented on #545
I have not investigated that program deeply, but it looks like it solves a problem of distribution data between nodes, I am not sure how it can be applied to beanstalk. beanstalk is different from memcached and redis, as job system vs key-value storage. Can you point out what kind of use case it can solve?

[2019-08-14 06:26] ysmolsky opened #546 "crash in default fsync=off mode corrupts whole binlog files"
I never expected that it would be so easy reproduce this. But anyway. Start beanstalkd in a loop:
[code]
Launch a producer of jobs that pushes them one by one. I have done it through Python scripts, but anything will do.
After couple of seconds I get this:
[code]
beanstalk was able to start in that mode, but it kept trying to read the same file.
I tried to delete binlog.149 and got:
[code]
More ti

[2019-08-14 07:13] sergeyklay commented on #545
In general I'm speaking about [Ambassador pattern](https://docs.microsoft.com/en-us/azure/architecture/patterns/ambassador): a way to proxy requests between a pool of beanstalkd nodes (servers).

[2019-08-14 08:15] ysmolsky commented on #545
Is this to distribute the load? Technically it can be used, but there will be many edge cases that needs to be explicitly handled. But this solution might end up being too complex. One has to maintain states in both products. I am just speculating, if somebody want to make a proof of a concept, I would be glad to review it.

I just do not see enough motivation to do it myself, since I never been a

[2019-08-14 09:29] sergeyklay commented on #545
This is why I would like to discuss this. It is not a real issue, just some thoughts in the direction of cloudification of the beanstalkd I would like to discuss to. Is it right direction? Should we  head this direction? What we can/should do? Can  facilitate the work for those who want to build such a integration? Is there any conceptual restriction to go this direction? etc, etc

[2019-08-16 06:10] ysmolsky commented on #545
First of all, there is no easy path to fault-tolerant, distributed message queues. I cannot see how it can be done for beanstalkd without rewriting everything from the ground zero. Adding another tool won't solve the problem. Core reason: data replication, the way it's done, dictates properties of distributed message queue. Look at redis. It is good key-value stored that can be distributed, but it

[2019-08-16 06:11] ysmolsky commented on #376
Windows support is not planned at all, so closing.

[2019-08-16 06:11] #376 closed

[2019-08-16 06:13] ysmolsky commented on #343
Pls post it here https://github.com/caidongyun/beanstalkd-win. Closing this issue

[2019-08-16 06:13] #343 closed

[2019-08-16 06:14] ysmolsky commented on #319
Closing since we won't fix this for sure.

[2019-08-16 06:14] #319 closed

[2019-08-16 06:16] ysmolsky commented on #424
Closing as the push for it was done, any other kind of improvement should be discussed separately.

[2019-08-16 06:16] #424 closed

[2019-08-16 06:35] ysmolsky commented on #536
I am brainstorming this and I have a summary of conclusions that I came it. Feel free to discuss. Please find flaws in them.

1. What good can crash give us? If we encounter IO error on writing, crashing would not help it. Surely we will close all descriptors and try to restarts, one of log files will corrupted and then ignored. Nothing good at all.

2. On write error server could go into draining

[2019-08-16 08:24] ysmolsky commented on #536
ping @beanstalkd/maintainers

[2019-08-16 08:38] ysmolsky commented on #546
My assumption was wrong about the whole binlog being corrupted. The only corrupted part is the last written job or  the empty log file (zeroed files). And that is totally okay since write was prevented by the kill, that record was not written in full into the file and will be ignored on the next start. Command for the jobs that was not written in full into disk won't return anything, client will n

[2019-08-16 08:55] #11 closed

[2019-08-16 08:56] ysmolsky commented on #41
I recommend to use stunnel to solve this problem.

[2019-08-16 08:56] #41 closed

[2019-08-16 09:07] ysmolsky commented on #328
Unless we have a coredump from server compiled with -g, it's very hard to fix this issue or #160. I cannot reproduce this at all...

[2019-08-16 09:17] ysmolsky opened #548 "set "-f 50" by the default and make -F not on by default"
The somewhat reliable way to run beanstalkd is to have "-f 0", fsync on every command. That means very bad performance. The default option "-F" - never fsync is a bad idea. If machine crashes user can lose everything since last time kernel flushed buffers instead of just couple of milliseconds of data.

Let's look at the benchmarks to get an idea of good default value for -f:

[code]

Performance

[2019-08-16 09:18] ysmolsky commented on #546
Closing as there is no thing to be done here and I have created #548 for default "-f"/-F value.

[2019-08-16 09:18] #546 closed

[2019-08-16 13:07] honarkhah opened #549 "beanstalkd down because of free() invalid size."
Hi, I'v got this errors on syslog and process killed, could you explain it to me?!

[code]

[2019-08-16 14:09] ysmolsky commented on #549
@honarkhah thank you for reporting this. To investigate this issue further, can you provide following details:
* version of beanstalkd
* version of OS
Is there a way to reproduce this consistently? Can you reproduce coredump for the fail?

https://jvns.ca/blog/2018/04/28/debugging-a-segfault-on-linux/

[2019-08-16 15:48] honarkhah commented on #549
OS: Debian 4.9.88-1+deb9u1 (2018-05-07) x86_64 GNU/Linux
beanstalkd: 1.10
 I don't have any clue to reproduce it, but it happends for me a lot, every
week!

On Fri, Aug 16, 2019, 4:09 PM Yury Smolsky <notifications@github.com> wrote:

[2019-08-16 18:41] ysmolsky commented on #549
Thanks. Is there a way for you to enable coredumps on that server (by the link I sent you before) and send the coredump for the crash? Otherwise it's next to impossible to help you with this.

You are running the pretty old version of beanstalkd, released 5 years ago. Recently we have released ver 1.11 with multiple fixes. You might want to try it out. If new version does not help, I strongly sugg

[2019-08-17 07:10] ysmolsky commented on #262
Without a core dump it's next to impossible to fix this kind of error. If anyone can share core dump (that will contain everything that is inside of beanstalkd), I would be glad to look at and try to fix this.
[How to get a core dump for a segfault on Linux](https://jvns.ca/blog/2018/04/28/debugging-a-segfault-on-linux/)

[2019-08-17 07:13] ysmolsky commented on #328
Without a core dump it's next to impossible to fix this kind of error. If anyone can share core dump (that will contain everything that is inside of beanstalkd), I would be glad to look at and try to fix this.
[How to get a core dump for a segfault on Linux](https://jvns.ca/blog/2018/04/28/debugging-a-segfault-on-linux/)

[2019-08-17 07:14] ysmolsky commented on #160
Without a core dump it's next to impossible to fix this kind of error. If anyone can share core dump (that will contain everything that is inside of beanstalkd), I would be glad to look at and try to fix this.
[How to get a core dump for a segfault on Linux](https://jvns.ca/blog/2018/04/28/debugging-a-segfault-on-linux/)

[2019-08-17 07:17] ysmolsky commented on #304
@tomponline would you be able to handle this any time soon?

[2019-08-17 09:27] #224 closed

[2019-08-17 17:44] tomponline commented on #304
@ysmolsky yes I will look at it soon, hopefully tomorrow (newborn son is taking up quite a lot of my free time these days though :))

[2019-08-18 19:09] tomponline commented on #395
@pmatseykanets apologies the long reply time, I've been rather busy recently, but I wanted to give you a proper response.

I know it's subjective, but I really like the layout of this new site.
It would be fantastic to have something like this for the beanstalkd web site.

But alas, I'm no expert in using npm, nodejs or VuePress. I did try the https://vuepress.vuejs.org/guide/getting-started.html#

[2019-08-19 08:25] #304 closed

[2019-08-19 12:00] ysmolsky opened #552 "remove -n option as non functional and redundant"
There is no point to keep that option.

compaction feature to compare its performance and disk
use to the older non-compacting behavior.
Which reminds me, we should remove that option now.
There's no reason for anyone to use it.
_Originally posted by @kr in https://github.com/beanstalkd/beanstalkd/issues/15#issuecomment-11368695_

[2019-08-19 18:48] ysmolsky opened #553 "add FSM diagram for connections"
![IMG_8252](https://user-images.githubusercontent.com/140245/63290761-d38e2000-c2ca-11e9-934f-833bebf10f10.jpg)

Not sure that it has much of use really. Just created while was exploring sources.

Should we add it to sources as an ASCII diagram?

[2019-08-21 06:25] #537 closed

[2019-08-22 07:41] ysmolsky opened #555 "segfault after "put 0 0 0 3000000000""
Found during initial attempt of fuzz testing...

[2019-08-23 06:10] #555 closed

[2019-08-23 06:18] ysmolsky commented on #538
fixed by #554

[2019-08-23 06:18] #538 closed

[2019-08-23 06:28] ysmolsky commented on #534
This can be fixed only after #535

[2019-08-26 07:41] ysmolsky commented on #552
@tomponline @sergeyklay what do you think?

[2019-08-26 07:48] tomponline commented on #552
Sounds reasonable to me

[2019-08-27 10:07] wzlzking opened #559 "beanstalkd-win持久化功能怎么使用"
请问这个版本支持持久化功能吗，我测试过好像没用，测试过程为先将一些 job 放到指定 tube 中，但先不消费 job，然后手动停止 beanstalkd 服务，再重新启动 beanstalkd 服务，然后执行消费 job 代码，但发现并没有将我之前放入的 job 进行消费，只会将我重启后新放入的 job 进行消费，不知道是不是我测试方法有问题，您可以帮忙解答一下吗？感谢！

[2019-08-27 10:11] ysmolsky commented on #559
@wzlzking I think you meant to create issue in this repo: https://github.com/caidongyun/beanstalkd-win. Your questions is better be asked there, since beanstalkd does not support windows in this repo.

[2019-08-27 10:11] #559 closed

[2019-08-30 06:18] ysmolsky opened #560 "add command "wait <id>""
This is from PR #203:

Add a command: `wait <id>\r\n` that responds with `DELETED <id>\r\n` or `BURIED <id>\r\n` only once a job has been deleted or buried.

This allows a client to be notified about the status of a job without polling.
### From the docs

The wait command waits until a particular job is out of the system before responding. It can be used to block a client until a job is completed.

[2019-08-30 06:23] ysmolsky commented on #560
This interface is not ideal, IMHO. I suggest two things:
1. Add timeout parameter to the command: "wait <seconds> <id>". Positive value in seconds parameter would mean to return TIMED_OUT if the job with <id> was not deleted or buried in the given time. 0 value would mean to wait forever.
2. What should happen when the job was process and then delayed? This command does not reflect this transition

[2019-08-30 06:40] ysmolsky commented on #379
There might be a slight problem with this approach. What if beanstalkd restarts after the client has issued "reserve-id" and before the "put-with-id"? The obvious answer to throw an error is not good, client has just wasted the time to upload the job. This case has to be handled on the client, whenever disconnect happens, all bets are off and client has to reissue "reserve-id".

[2019-08-30 07:17] kr commented on #379
Are disconnections (including ones that happen because the server restarted) frequent enough for this to be a problem?

[2019-08-30 07:19] kr commented on #379
But yes, you’re right. If the server associates reserved IDs with a connection, the client should do that too. If it loses a connection, all the reservations on that connection would become invalid, so the client should throw them away.

[2019-08-31 04:37] #552 closed

[2019-09-03 23:12] bessudnov opened #561 "Degradation on many tubes"
I have tried to create about 1500 tubes and than run 300 instances of simpliest php code.
[code]

Results was bad:
1 instance:
1567547165.0457 PUT START
string(20) "INSERTED 820713869
"
DELTA = 0.0016741752624512
1567547165.0474 PUT FINISH

300 instances
1567547210.9205 PUT START
string(20) "INSERTED 820886790
"
DELTA = 0.021309852600098
1567547210.9419 PUT FINISH

Time for inserting increased mor

[2019-09-04 02:15] kr commented on #548
Good analysis. I agree.

[2019-09-04 07:42] honarkhah commented on #549
Sep  3 22:10:14 nl-kjg-queue-beanstalk kernel: [9386463.817046] traps: beanstalkd[16408] general protection ip:55cfd7377b40 sp:7ffd6966fe30 error:0
Sep  3 22:10:14 nl-kjg-queue-beanstalk kernel: [9386463.817050]  in beanstalkd[55cfd7370000+d000]
Sep  3 22:10:15 nl-kjg-queue-beanstalk systemd[1]: beanstalkd.service: Main process exited, code=killed, status=11/SEGV
Sep  3 22:10:15 nl-kjg-queue-beans

[2019-09-04 08:23] ysmolsky commented on #549
Is it a crash of beanstalkd 1.11?

[2019-09-04 08:36] ysmolsky commented on #561
I am sorry, but your benchmark has some flaws. On each iteration of "while" you print out delta. Instead you should sum deltas for all iterations in one instance and then at the end print out the average delta. This might give you better picture.

Another thing. If you run 300 instances concurrently, it means that instances compete against each other. And any given instance have to wait until some

[2019-09-04 08:40] honarkhah commented on #549
No, it is still 1.10, we cannot update our beanstalk under the workload. but we already planned it

[2019-09-04 08:52] ysmolsky commented on #549
Oh, thanks for explaining. Is there a chance to enable coredumps on the production? That would bring us very close to nailing the issue and fixing it.

[2019-09-05 10:50] ysmolsky commented on #2
Closing in favor of #379

[2019-09-05 10:50] #2 closed

[2019-09-05 10:52] ysmolsky commented on #20
Closed in favor of #310

[2019-09-05 10:52] #20 closed

[2019-09-05 10:56] ysmolsky commented on #25
This feature looks good to me. From performance point of view, it's a must.

[2019-09-05 11:01] ysmolsky commented on #56
Protocol for existing commands needs to be changed for this feature. "put" command will return "tube is full" when the limit of the tube is reached.

[2019-09-05 11:51] bessudnov commented on #561
Ok, delta is not the correct word to use here. I measure just the time of put operation.

I try to measure the time of inserting data on many processes that inserts data into different tubes. Do you mean that beanstalkd is not multithreaded and performs operations consistently one by one?

I put jobs before the test, that is why code doesnt wait for them.

[2019-09-05 14:21] ysmolsky commented on #561
beanstalkd is event based, so all operation are consequential. But it is very fast nevertheless, when client is in C, then you can achieve performance of 4k (put-delete) ops/second with data persistency (WAL) turned on according to benchmarks we have: https://travis-ci.org/beanstalkd/beanstalkd/jobs/580909339

[2019-09-05 14:24] ysmolsky commented on #561
This ticket is not actionable. I cannot see what can be done on my side. @bessudnov I suggest you to ask pheanstalkd authors: https://github.com/pheanstalk/pheanstalk

[2019-09-05 15:39] bessudnov commented on #561
Well, its fast on one tube, but when there hundreds and thousands of tubes - here is the problem.

I tried to use python and have the same error, increasing number of instances of python script, put command start working slower.

[code]

[2019-09-05 15:51] ysmolsky commented on #561
Again your program does not measure anything because it depends on the way you run clients and how jobs are added to tubes, etc. From your code I can say that this is not a good benchmark and does not prove any point. It is expected that the single put command will be slower when you have thousands of concurrent clients competing for the same resource.

Please show me some meaningful results along

[2019-09-05 23:09] kr commented on #561
Function `tube_find` does a linear scan through the list of all tubes to look up a tube by name. It gets slower when there are many tubes. Normally this doesn't happen when reserving a job, because each client connection has its own list of watched tubes. But if the client is issuing many `watch` commands (or other commands that need to look up tubes), that might be relevant.

Does the client in t

[2019-09-06 06:34] ysmolsky commented on #561
This what I understood from our  conversation in Twitter: author uses > 10k tubes, each worker connects, "watch" some tube, "reserve" the job, disconnects. In that case "tube_find" might be the bottleneck.

[2019-09-06 07:32] ysmolsky commented on #561
It is not only performance of `tube_find` is degraded in case of big amount of tubes. `soonest_delayed_job` is affected as well, as it scans through all the tubes. And `next_awaited job`: it picks the job with smallest priority among all awaited jobs in all tubes. `next_awaited job` is called by `process_queue`, and that is called when job is added and reserved too.

Amount of tubes affects perfor

[2019-09-06 08:28] ysmolsky commented on #561
Reproducing this in our benchmarks. I have injected this code to `bench_put_delete_size` just before actual benchmark. It watches for T amount of tubes. It does not put jobs in them. Everything happens in the default tube.
[code]
T=0:
[code]

T=1000:
[code]

T=10000:
[code]

Then instead of watching tubes in the connection where benchmarking is performed, I have created another connection where T

[2019-09-06 10:20] sergeyklay commented on #545
Let's close this one due to the lack of the interest. Feel free open it again if the need arises :)

[2019-09-06 10:20] #545 closed

[2019-09-07 12:39] ysmolsky commented on #310
I am on it.

[2019-09-09 06:28] ysmolsky commented on #337
Closed by mistake

[2019-09-09 06:29] ysmolsky commented on #141
Fixed by #562

[2019-09-09 06:29] #141 closed

[2019-09-09 07:11] ysmolsky commented on #321
This is too complex to implement in the code. File handling code is not ideal, and implementing this feature would make it even more harder. Memory is cheap, and I do not think that converting beanstalkd into some kind of database is a good thing.

[2019-09-10 06:17] #222 closed

[2019-09-10 06:17] #240 closed

[2019-09-10 06:17] #310 closed

[2019-09-11 07:37] ysmolsky commented on #241
I have set the wrong label, since this feature is not decided upon (yet).

[2019-09-11 07:38] ysmolsky commented on #361
Setting this via rlimit seems like a sane solution.

[2019-09-11 07:52] ysmolsky commented on #384
Job cannot be NULL when passed to `enqueue_job` because `job_remove` won't return NULL because `job_list_any_p` has returned non-NULL value. This code could be more simple I agree and  right now it looks like so:
[code]
The code for double-linked lists is hard to reason about in general.

[2019-09-11 07:52] #384 closed

[2019-09-12 09:38] pz9042 opened #565 "beanstalkd progress exit"
this morning I use command `sudo /usr/local/beanstalkd/bin/beanstalkd -b /data/beanstalkd -l 0.0.0.0 -p 11300 -u beanstalkd &` start service,but in afternoon，the progress exit. beanstalkd version is 1.11，os version is centos 7.6.1810. I not found any relate message in `/var/log/message`

[2019-09-14 04:54] ysmolsky commented on #565
@pz9042 can you provide more details?

[2019-09-14 04:55] ysmolsky commented on #565
By default beanstalkd writes into stderr and not to /var/log/messages. You might want to capture stderr.

[2019-09-14 04:55] ysmolsky commented on #561
@bessudnov did any of the above help you in some way?

[2019-09-15 14:08] pz9042 commented on #565
thanks,because i start service on backend,and not redirect stderr, I will provide  the error info tomorrow

[2019-09-16 07:17] pz9042 commented on #565
start command : `/usr/local/beanstalkd/bin/beanstalkd -b /data/beanstalkd -l 0.0.0.0 -p 11300 -u beanstalkd >/tmp/beanstalkd.txt 2>&1 &`
`[root@dev ~]# ps aux |grep -i  bean
root     20916  0.0  0.0 112724  1000 pts/0    S+   15:15   0:00 grep --color=auto -i bean
[root@dev ~]# ll /tmp/beanstalkd.txt
-rw-r--r-- 1 root root 0 9月  16 10:21 /tmp/beanstalkd.txt
[root@dev ~]#
`
there is no any message

[2019-09-18 01:50] pz9042 commented on #565
/usr/local/beanstalkd/bin/beanstalkd: prot.c:710 in check_err: read(): Connection reset by peer

[2019-09-18 07:40] ysmolsky commented on #565
This is a normal message, it means that client's connection was lost during the read operation.

[2019-10-02 03:46] ptjm commented on #553
How about as a dot file? This input file generates this image:

[beanstalkfsm.txt](https://github.com/beanstalkd/beanstalkd/files/3679386/beanstalkfsm.txt)
![beanstalkfsm](https://user-images.githubusercontent.com/986499/66016494-de7cc880-e4a4-11e9-9f46-a53563440958.png)

[2019-10-12 02:31] omigafu commented on #327
Hi @ysmolsky , thanks for your reply.

[2019-10-13 20:37] akwatra opened #566 "make error linuxmint 19.1"
[code]

[2019-10-14 07:01] ysmolsky commented on #566
Something is wrong with your compiler suite.

[2019-10-17 10:21] #566 closed

[2019-10-17 10:21] #565 closed

[2019-10-27 01:20] jingwu15 opened #567 "beanstalkd[2776] general protection ip:401f74 sp:7ffc346076d0 error:0 in beanstalkd[400000+e000]"
beanstalk 1.10

the start cmd:
beanstalkd -b /data/beanstalkd/binlog -F -z 65535000

the Error:
beanstalkd[2776] general protection ip:401f74 sp:7ffc346076d0 error:0 in beanstalkd[400000+e000]

how to fixed the bug

[2019-10-28 23:19] onyxbb opened #568 "Feature request: Allow put command to take job ID as argument"
If we can specify the job ID with the put command it should be fairly simple to setup a failover mechanism by having the producer push jobs to separate beanstalkd instances. The consumers could then select a host and use the job ID to replicate the job status on other instances. Of course producer would have to ensure each job has a unique ID.

[2019-10-28 23:26] #568 closed

[2019-10-28 23:53] onyxbb commented on #379
I think an optional ID argument for the put command or put-with-id is terrific because if we can post the same job to two or more beanstalkd instances then redundancy/fail-over becomes possible. Consumers can select from a pool of hosts and once a job is retrieved use the ID to update the job status on the other instances. With an async client it shouldn't slow things down too much neither.

[2019-10-29 00:29] onyxbb commented on #568
Noted  https://github.com/beanstalkd/beanstalkd/issues/379

[2019-10-29 01:20] kr commented on #379
I agree this sort of ability would be nice. But in the proposed design here, it is not possible to guarantee that the same ID can be used for the same job in two different beanstalkd instances.

If we want that guarantee, it would require behavior more like #2. The fundamental difference is that this issue uses beanstalkd-supplied values for the job ID, meaning the client cannot control which valu

[2019-10-29 01:33] onyxbb commented on #379
Read previous discussion https://github.com/beanstalkd/beanstalkd/issues/264 on this subject. In response to some of @JensRantil concerns:

Key uniqueness could be ensured by either affixing or suffixing the client supplied key to the one generated by beanstalkd as per usual. e.g.

beanstalkd generated job ID: 2828
client supplied job ID: 7744
resulting key ID = 2828.7744

For this I imagine key I

[2019-12-17 09:39] ysmolsky commented on #567
I am sorry, but that version was released long time ago and we do not support it anymore. Please use more recent release or even master branch to run this server.

[2019-12-17 09:39] #567 closed

[2019-12-17 09:40] ysmolsky commented on #561
Closing as not actionable issue. I won't fix this because it requires architecture overhaul.

[2019-12-17 09:40] #561 closed

[2019-12-27 02:56] laszlof opened #570 "Beanstalk not purging old binlogs?"
I know this was previously an issue, that was supposed to be fixed in 1.5, However, we're still seeing this happen.

We're currently using beanstalk 1.10, and noticed that our binlog directory has grown to over 265GB in usage.

When looking at beanstalk stats, we have roughly 10K jobs in a delayed state. Even with our maximum job size of 10MB (99.9% of jobs are going to be less than 1 or 2MB each)

[2019-12-27 04:11] laszlof commented on #570
Further on this, it seems this started happening a little over a week ago, with seemingly no changes on our end.

[2019-12-27 04:23] kr commented on #570
Did the start of this disk usage coincide with the accumulation of 10k delayed jobs? Or were that many jobs delayed before the disk usage got so big? What is your normal steady-state disk usage?

[2019-12-27 04:28] laszlof commented on #570
Sadly I don't have that stat available during that time frame. I'd venture to say that yesz it was at about the 10k delayed job mark.

[2019-12-27 04:41] laszlof commented on #570
Ok. Just checked things over. I actually do have the data. It doesnt appear that the 17th was anything special with regards to delayed jobs.

There was about 17K delayed jobs in the queue on the date when the disk usage started to spike. That has been gradually increasing over time at pretty much the same rate.

Once the disk was filled, I shutdown the beanstalkd daemon, and removed some of the ol

[2019-12-27 04:45] laszlof commented on #570
Furthermore, after inspecting some of the older binlogs, it looks like the jobs inside of them have already ran. Since we encrypt everything inside the queue, it takes a bit of work to figure out what they were, but for the most part, they are non-delayed regular jobs that would have been processed almost immediately and then deleted. It doesnt appear deleting them is actually removing them from t

[2019-12-27 04:45] kr commented on #570
Oh excellent, thank you for that additional info. Those graphs are strong evidence there is a bug. Unfortunately it will be difficult to fix unless we can find a way to reproduce it. There have been similar reports over the years once or twice before, but so far no one to my knowledge has been able to reproduce it.

As a side note, it is supposed to be always possible to delete jobs even if the di

[2019-12-27 04:51] laszlof commented on #570
@kr its possible we could have deleted when the space was full. Our tooling may have prevented it for other reasons unrelated to beanstalk itself. I'd not want to call that a bug without more info.

For now, do you know of a way to cleanup the binlogs and purge any already handled jobs from them?

I noticed there a data bit at the beginning of each line, that I assume is the information beanstalk

[2019-12-27 04:53] kr commented on #570
The bin log is an append-only data structure. The way deleting works is we append a shirt record saying “delete job 123”. When beanstalkd restarts, it replays the log in order, so it will first see the record that creates the job, and recreate the job in memory, then it will encounter the delete record and delete the job. (It doesn’t begin processing client requests until the whole log has been re

[2019-12-27 04:55] laszlof commented on #570
Yes. And I had reservations about trying it. I do have the logs backed up just in case, but it didnt appear to break anything as far as I could tell.

It sounds like binlogs work a lot like they do on mysql for replication. Is there a way to reindex them from the current state so we can purge all the old ones?

[2019-12-27 05:05] laszlof commented on #570
So I just checked another system we have running the same software. Its been flawless for quite a while. It doesnt do many delayed jobs (mostly just straight to ready-state). It only has 2 binlogs that are using roughly 21MB of disk space. It seems unlikely that that 21MB contains the entire record since its been running. The process itself hasnt been restarted since March 30th of this year, and i

[2019-12-27 05:13] laszlof commented on #570
I dont think I mentioned it, but there are over 24K binlogs (mostly about 10MB each) on the affect system.

Heres the command line we're using:

[code]

[2019-12-27 05:36] kr commented on #570
Well this is supposed to happen automatically as beanstalkd deletes files from the log. There isn’t a way to do it manually since that shouldn’t be necessary assuming the compaction works.

If this bug keeps happening it might make sense to add some sort of manual controls for this process but I’m not sure exactly what that would look like. (Since the log is append-only, it’s not possible to delet

[2019-12-27 05:38] kr commented on #570
Another thing that probably makes sense is to add more visibility into the log structure. Statistics like how many records are live in each file, space used/reserved/dead/etc. Basically all the internal bookkeeping that beanstalkd does should probably be exposed. That might give some clues about how this bug works.

[2019-12-27 05:39] laszlof commented on #570
Perhaps make a command to dump the current state to a new binlog file, and purge all the old ones?

I'm assuming when you start up beanstalk, and it replays all the logs, it stores all that in memory and no longer needs to reference the binlogs? They're only useful on startup?

[2019-12-27 05:41] kr commented on #570
Yeah, that would be one option.

That’s right.

[2019-12-27 15:28] laszlof commented on #570
I think what we're going to do is do an export of all job, shutting down beanstalk, deleting all binlogs, and reimporting the export file we created above. That should get us where we want to be and back to nominal disk usage.

Also it looks like our usage is still flatlined, we havent noticed the growth issue come back up again:

<img width="1690" alt="Screen Shot 2019-12-27 at 10 27 51 AM" src="

[2019-12-29 17:45] HenriNijborg commented on #570
Some time ago we had kind of the same problem, binlogs clogging up the disk space. This was caused by the binlogs not being migrated to new ones. When the difference between the oldest and newest binlog file was getting to big, exceeding a certain size, no binlogs are migrated. This results in huge amounts of binlog files just piling up.

The fix for this bug has been released with v1.11. Pull req

[2019-12-29 22:48] kr commented on #570
Ah yes, thanks for remembering and finding that. This might well be a dup of #276 / #278.

[2020-01-02 15:07] laszlof commented on #570
@HenriNijborg Thanks for the information. Perhaps an upgrade will resolve the issue.

Honestly we've ran beanstalkd in production for > 5 years and never had any problems with it, so it certainly seems like an extremely edgecase situation.

Sadly, beanstalkd-1.11 isnt available as an RPM for CentOS 7, so short of building our own RPM, we wouldnt be able to upgrade it. (We do not typically build fr

[2020-01-02 15:48] HenriNijborg commented on #570
@laszlof It was the same situation for us. We ran beanstalkd in production for 3+ years with no problems before we ran into this. Back then running about half a million jobs a day.

[2020-01-23 21:03] laszlof commented on #570
This started happening again a few days ago. We noticed some delayed jobs getting backed up (around 20K) due to an error in our code. We cleaned up the delayed jobs (delayed queue down to less than 10K now), and the disk usage did not go down. We really need to get this sorted out. Any thoughts besides updating to 1.11 and hoping for the best?

[2020-01-24 07:45] kr commented on #570
Since a bug with exactly this behavior was fixed in 1.11, it seems likely that upgrading will solve your issue.

[2020-01-24 08:37] ysmolsky commented on #570
One note from old user of 1.10. During many years we never had this problem, but when we migrated to the different OS (AWS-something) it happened a couple of times. Upgrade to 1.11 has solved the issue.

[2020-01-24 12:30] laszlof commented on #570
Roger that. I'm having our sysops team build an rpm for 1.11 right now. Hopefully that will resolve the problem. Will let you know.

Thank you both for the help!

[2020-01-24 15:04] laszlof commented on #570
@ysmolsky do you guys build your own RPMs for RHEL? It would be nice to have an "official" RPM available for 1.11.

[2020-01-24 16:37] ysmolsky commented on #570
Nope, I deploy using docker container in which I build it from scratch.

[2020-02-17 21:18] #549 closed

[2020-03-13 09:57] pseudocodes commented on #553
[code]

[2020-03-15 06:53] ysmolsky commented on #553
@pseudocodes , nice job! Can you compress it a little so it will take less columns and rows?

[2020-03-15 12:54] pseudocodes commented on #553
[code]

[2020-03-18 14:04] kevinbosak commented on #570
@laszlof Did upgrading to 1.11 resolve your issue?  We just ran into the same thing where one buried job caused the binlogs to fill the disk space.  We're on 1.10.
This wouldn't have been an issue for us, except that our monitoring was flawed and only reporting 2 or more buried jobs.

[2020-03-18 14:09] laszlof commented on #570
@kevinbosak Yes, we upgraded to 1.11. It seems to have resolved the issue for us, but only time will tell if it crops back up.

Being on CentOS 7 meant we had to build our own RPM for this. If you're on the same OS I can probably get you a link to grab the RPM to save you the trouble of having to build it manually. Let me know.

[2020-03-18 14:17] kevinbosak commented on #570
@laszlof Thanks.  We're on Debian, but I think we'll be fine now that our monitoring is fixed to report any buried jobs.

[2020-03-18 14:18] #570 closed

[2020-03-24 12:58] wangfuli217 opened #572 "Queue"

[2020-03-26 16:13] AndreC10002 opened #573 "Binlog files aren't deleted, no burried jobs"
We are running Beanstalkd 1.10 and notice that binlogs are never removed.  Found some chatter on mailing lists about buried or orphaned jobs holding logs, but that doesn't look like the problem here.

stats
OK 1015
---
current-jobs-urgent: 0
current-jobs-ready: 704251
current-jobs-reserved: 0
current-jobs-delayed: 12110
current-jobs-buried: 0
cmd-put: 5854200
cmd-peek: 0
cmd-peek-ready: 217273
cmd

[2020-03-26 16:16] AndreC10002 commented on #573
Note that I believe the value:

binlog-oldest-index: 7244

reflects the fact that I deleted binlogs manually many times in the past to free space (and to remove old jobs).

[2020-03-27 08:39] HenriNijborg commented on #573
Duplicate of https://github.com/beanstalkd/beanstalkd/issues/570 ?

[2020-03-27 14:17] AndreC10002 commented on #573
I guess so.  Sorry, didn't find that one somehow.  Will try 1.11 and see what happens.
Thanks for letting me know about that ticket.

[2020-03-27 14:17] #573 closed

[2020-03-27 16:13] AndreC10002 commented on #570
We were experiencing the same problem, binlogs not deleted.  Looks like 1.11 fixed the issue.  We see beanstalkd deleting binlogs now.

Perhaps it helps to mention the problem may have started when the server ran out of disk space and Beanstalk was stopped and some inlogs deleted via shell.

Thank you guys.  Your help with this issue is much appreciated!

[2020-03-27 16:45] laszlof commented on #570
@AndreC10002 Glad its working for you as well.

In case anyone on EL7 comes across this thread, heres a link to the RPM we built for this:

https://franksworld.org/packages/beanstalkd-1.11-1.el7.x86_64.rpm

Obviously use all the precautions required when installing an RPM from an unknown source. This one is signed by my employer. (Nexcess)

[2020-03-28 11:38] xvpenghao opened #574 "peed commond explanation in protocol.zh-CN"
The peed commond Explanation have problem in  protocol.zh-CN.md

[2020-03-29 10:28] #572 closed

[2020-03-29 10:29] ysmolsky commented on #574
Can you clarify or expand on this? Did you mean the peek command?

[2020-04-17 07:56] ysmolsky commented on #574
@xvpenghao can you open PR with a fix?

[2020-04-29 22:56] StevenFlecha opened #578 "prot.c:710 in check_err: read(): Connection reset by peer"
In our kubernetes cluster we have 3 BE services (hosted on GCP).

We have 1 instance of Beanstalkd service & 1 ES cluster (3 master pods, 2 data pods, 2 client pods). Each BE app has its own Redis instance and Mysql server.

Now we built various health checks and we regularly see (like 5-10 times a day) connection speed issues. In the health check all we do is connect to the service and check how

[2020-04-30 07:53] ysmolsky commented on #578
The error you see in beanstalkd is not the error indicating some flaw, but rather saying that client (peer) was disconnected unexpectedly, meaning that client has closed the socket without saying goodbye.

The client code you posted measuring not only connection time, but also includes "disconnect" time. I have no idea about implementation of the client lib you used.

Also there might be an issue

[2020-04-30 07:53] #574 closed

[2020-05-05 13:08] #578 closed

[2020-05-13 06:18] tfMovamo opened #579 "Multiple consumer worker registered the same ticket"
I use beanstalkd version 1.10.

Two types of consumer are currently running. php (laravel) and python 3.6.

The python worker (5 pieces) run on one tube and the php worker on another tube (165 pieces).
The workers are started by supervisor.

According to the documentation, a job, if it has been reserved, should not be able to be reserved by any other worker.

However, I cannot confirm this. There

[2020-05-14 08:09] tomponline commented on #579
Can you post your reproducer code here?

[2020-05-15 04:25] ptjm commented on #579
What's the ttr on the message?
It's definitely possible for more than one worker to reserve the same job, but it depends on the first worker failing to either delete the job or extend the ttr in time. You'll get the results you're seeing if the ttr is close to the amount of time it normally takes to process the job. One solution is to use a larger ttr, or if there's some reason that's not possible

[2020-05-15 11:38] chekiboy commented on #379
Hi, as I see this feature has been merged into master. (reserve-job) but there is no new version from that. Could you create a new version?

[2020-05-19 14:58] tomponline commented on #379
@chekiboy we plan to make a new release soon. Thanks

[2020-05-19 15:16] chekiboy commented on #379
Good to hear it. Thanks for informing me :)

[2020-05-28 08:47] #501 closed

[2020-05-28 08:48] ysmolsky commented on #501
Thank you @justinmayhew !

[2020-05-28 08:52] ysmolsky commented on #509
Considering how small the traction on this project right now, I doubt this is needed. Closing...

[2020-05-28 08:52] #509 closed

[2020-05-28 08:53] #160 closed

[2020-05-28 08:54] #262 closed

[2020-05-28 08:54] #328 closed

[2020-05-28 09:06] #321 closed

[2020-05-28 09:07] #241 closed

[2020-05-31 07:40] GDdark opened #580 "Can not run beanstalkd 1.11 but 1.10 is ok!"
![image](https://user-images.githubusercontent.com/15982894/83347078-e0a96680-a354-11ea-9286-9044f5c8c4c6.png)

System version: Ubuntu 18.04

[2020-05-31 08:59] ysmolsky commented on #580
Thank you for reporting this. I cannot reproduce this in the current debian, though. Can you try to compile the latest version from master and verify that it happens there as well? We have changed this code after 1.11. Do you run this on the existing data or is data dir empty?

[2020-05-31 09:09] GDdark commented on #580
Yes. The data dir is empty!
I compile the latest version from master and it's work!!!
Thank you!

[2020-05-31 19:13] ysmolsky commented on #580
I am glad that it has resolved for you. I still wonder what kind of error you encountered there. I will keep this issue open for a while.

[2020-06-01 13:06] #579 closed

[2020-06-01 14:42] #548 closed

[2020-06-02 08:47] #452 closed

[2020-06-04 13:48] chekiboy commented on #379
@tomponline Could you give me an update about this thread? This is a required dependency on our new development. :/

[2020-06-04 20:09] tomponline commented on #379
@chekiboy release v1.12 has been done https://github.com/beanstalkd/beanstalkd/releases/tag/v1.12

[2020-06-04 23:51] tomponline commented on #379
@ysmolsky can we close this now?

[2020-06-05 08:19] ysmolsky commented on #379
I think there is some confusion about this. I am sorry not to answer sooner. We never implemented commands mentioned in this issue. We merely added "reserve-job" that reserves an existing job by the id.

This issue is yet to be decided upon, not speaking about it's implementation.

[2020-06-05 08:21] ysmolsky commented on #580
@GDdark do you plan to investigate why 1.11 is broken for you so I can replicate the problem and fix it probably? I could not replicate this on my own machines even using ubuntu 18.04. Maybe it's something else causing this problem...

[2020-06-08 03:12] GDdark commented on #580
There's still a problem with my machine!
I tried to give /data/beanstalkd 777 permissions and still not work!
My environment is not a pure linux machine!!!
I used vagrant to initialize the Ubuntu 18.04 environment in macos.
I hope it is helpful for you!!

[2020-06-08 03:16] GDdark commented on #580
I tried to touch a file named binlog.1 and gave it 777 permissions
And still not work!

![image](https://user-images.githubusercontent.com/15982894/83989580-6fcc0500-a979-11ea-829f-30ce7387526b.png)

[2020-06-11 06:15] ysmolsky commented on #580
Interesting, it may be related to the way vagrant was setup. Or file permissions (not likely). Can you run `stat /data/beanstalkd` and `stat /data/beanstalkd/binlog.1` and paste results here?

[2020-06-16 06:24] GDdark commented on #580
Sure!
![image](https://user-images.githubusercontent.com/15982894/84738675-ec478f00-afdc-11ea-9282-390fd1886380.png)

there is no file named binlog.1 in /data/beanstalkd
I think beanstalkd create binlog.1 failed

[2020-06-28 15:43] HorseLuke commented on #25
I'd like to have this feature too.
Now I am using reserve(0) + delete(job_id) to simulate clear tube, but it can not delete buried or not ready job.

[2020-07-01 15:20] GenaANTG commented on #527
@ysmolsky Hi! This problem is still exists. When we run beanstalk as PID1 in a container, he is not catching SITERM signal and still goes on.

[2020-07-01 16:27] ysmolsky commented on #527
Uhm, v1.11 does not have this fix. You should try v1.12 for that.

[2020-07-01 17:19] GenaANTG commented on #527
@ysmolsky Thanks a lot! I need to test it now.

[2020-07-01 17:26] ysmolsky commented on #527
I will save you some time: do not bother. It is broken in v1.12 too. I have just tested and looking at the code I made a mistake of assuming that process can SIGKILL itself even if it has pid=1. But Linux blocks this as a feature.

[2020-07-01 20:11] ysmolsky commented on #580
I guess that something is wrong with vagrant or the context you run it in. I do not see anything related to beanstalkd itself.

[2020-07-01 20:11] #580 closed

[2020-07-02 09:04] #527 closed

[2020-07-02 09:21] ysmolsky commented on #527
@GenaANTG you should try latest commit from master branch. It contains the fix.

[2020-07-02 12:18] GenaANTG commented on #527
@ysmolsky Thanks a lot buddy!

[2020-07-18 01:25] DigitalCyberSoft opened #587 "Fedora 30/31 and v1.12"
I know I can get around this by adding the flag -Wno-stringop-truncation however I wasn't sure if this was the best idea?

[code]

There used to be a similar warning in sd-daemon.c in 1.10 tbefore that file was replaced, that was being treated as a warning

[code]

[2020-07-19 18:03] ysmolsky commented on #587
Are you compiling with gcc9? I do not see this with gcc7 or gcc8.

[2020-07-24 09:40] DigitalCyberSoft commented on #587
Fedora 31 is gcc-9.3.1, and 32 is gcc-10.1.1

[2020-08-05 08:14] SamMousa opened #589 "Automated dockerhub builds"
Now that there is a `Dockerfile` in the repo it would be nice to add an automated build to dockerhub.

The setup process for that is fairly simple and should take at most ~10 mins, it has to be done by a repo admin though.

[2020-08-17 12:11] kdeberk opened #590 "Add stat for number of jobs read from binlog"
I'm trying to verify that beanstalk is not losing any jobs over a long period of time (incl multiple binlog-enabled restarts).

To do this I'm comparing the number of jobs that were created to the sum of the number of jobs that are delayed, buried, reserved or completed. In my case there is a big difference between these two numbers and that is most likely (hopefully) explained by the number of jo

[2020-09-10 08:53] hao159 opened #593 "max-job-size of job"
Hi guy,

I used beanstalk. but current, i have many jobs with 1.000.000 row data . I was set BEANSTALKD_EXTRA to 500mb in config.
But I am not sure if this could have serious performance effects?

what maximum number of bytes can config ?
Thank and best regard!

[2020-09-11 02:19] ptjm commented on #593
Maximum value for -z flag is 1GB. There's no performance impact to setting this flag to a large value, but anytime you submit such a large job, it's going to stop the beanstalkd from doing anything else during the time it takes to send and receive those jobs. If you're processing the jobs serially anyway, it won't matter, but if you have a mix of large and small jobs, with multiple consumers, you

[2020-09-11 02:27] #593 closed

[2020-09-17 07:16] hao159 commented on #593
Thanks for your information!

[2020-09-23 05:46] scottmac commented on #587
gcc is being conservative here and the reason for that is that it can't detect that null is being set because of the conditional logic for setting it.

Can fix this with:

`strncpy(t->name, name, MAX_TUBE_NAME_LEN );`
becomes
`strncpy(t->name, name, MAX_TUBE_NAME_LEN - 1);`

[2020-10-30 13:54] SamMousa commented on #589
Is this planned or will beanstalkd not have official images on DockerHub?

[2020-11-04 10:24] ysmolsky commented on #589
This is not planned by me. I cannot say that for others though.

[2020-12-15 06:48] tonytonyjan opened #596 "Could we have beanstalkd offical Docker images in Docker Hub?"
There are lots of [unofficial images](https://hub.docker.com/search?q=beanstalkd&type=image) in Docker Hub already but most of them are outdated and not well maintained. To get the newest stable beanstalkd image, people have to either clone, build, and push to some image registry or trying to find a suitable one in Docker Hub. Either way would cost time.

I wonder if there is any future plan for o

[2020-12-16 08:28] ysmolsky commented on #596
Dupe of #589

[2020-12-16 08:28] #596 closed

[2020-12-22 04:39] wuYin opened #597 "WAL not persist released job with new priority if new delay is 0"
### Issue
For release command, WAL doesn't persist job's new priority if delay is 0

### Reproducation

1. start a beanstalkd with binlog
`./beantalkd -b /tmp/x`

2. client put 2 jobs with different priority
[code]

3. client reserved job_1 which has highest priority, and release it with lower priority `20` and no delay
[code]
4. terminate and restart beantalkd with binlog manually

5. new client

[2021-01-14 12:02] SamMousa commented on #589
I'm up for helping out with this, but at some point someone with more access needs to be involved.

Things I can do:

- [ ] Set up Github Action to build the edge image on pushes to master
- [ ] Set up Github Action to build a tagged release when a new tag is pushed
- [ ] Update the :latest  tag in docker with the latest tagged release

Things I cannot do due to lack of permissions:

- Create dock

[2021-01-23 00:43] mahi999111 opened #598 "filewopen: falloc /data/binlog.1: Not supported (failing when stack deploy on host Linux VM)"
/usr/bin/beanstalkd: file.c:454 in filewopen: falloc /data/binlog.1: Not supported
/usr/bin/beanstalkd: walg.c:492 in walinit: makenextfile

compose-file: working fine when stack deploy on windows but not on Linux
##########
beanstalkd:
    image: schickling/beanstalkd
    ports:
      - "11300:11300"
    volumes:
      - /deployment/docker/notification-beanstalkd-data:/data
    command: -b /data

[2021-01-23 23:21] mahi999111 commented on #598
Nevermind, it is working fine with different local path /tmp/beanstalk-data:/data

Problem with the path on the box /deployment/docker/notification-beanstalkd-data

[2021-01-23 23:21] #598 closed

[2021-01-27 13:41] githubjeka commented on #589
🙏🏻 I would like to get the official version too

@SamMousa would be nice if you use https://github.com/marketplace/actions/fork-sync and update https://hub.docker.com/r/sammousa/beanstalkd and setting your actions.

I would love to use this script to get beanstalkd in dockerhub .

Others hubs are oldest or used `git clone` in containers
https://hub.docker.com/search?q=beanstalkd&type=image&sort=up

[2021-01-27 13:57] SamMousa commented on #589
Mine is not an official one, but could indeed do something like that.

[2021-02-07 22:35] iaindooley opened #599 "binlogs never being compacted"
Hi there, I run beanstalkd with:

/usr/bin/beanstalkd -b /beanstalkd/ -z 10485760

I am running version 1.12

myuser@mymachine:/# /usr/bin/beanstalkd -v
beanstalkd 1.12

The other day I noticed binlogs were 26GB, at the time I was running 1.9

I found some issues related to buried jobs and some related to delayed jobs, all seemed to suggest that by version 1.12 binlogs continually growing due to d

[2021-03-09 02:48] imashok02 commented on #205
I see theres no official release for the below config,
its still
`beanstalkd 1.10`

[code]
Did anyone downloaded from the official website [beanstalkd](https://beanstalkd.github.io/download.html) and install the version with the fix? I not sure how to do that.

[2021-04-03 15:40] pgilad opened #602 "Expose message created time to consumers when using reserve API"
Hi, it would be super useful to expose message creation date to consumers when using the reserve API.
Sure, it's possible to get this using the stats-job API, but this has 2 major downsides:
1. Enforcing another round trip, which is problem both for low-latency environments and for doubling all API trips in effect.
2. the stats-job currently reports by second granularity, which isn't good enough f

[2021-04-06 09:13] tomponline commented on #205
@imashok02 beanstalkd 1.11 is in Ubuntu Focal (which is the latest LTS release) https://packages.ubuntu.com/focal/beanstalkd

You could post on the Ubuntu forums asking for a later version to be backported, but I am not sure what the policies are for that.

[2021-07-19 15:38] gypapp commented on #527
It seems (or seemed) to be a common problem with other software as well so another approach would be to install [tini](https://github.com/krallin/tini) or [dumb-init](https://github.com/Yelp/dumb-init) to cover this signal issue with PID 1.

I do not know if such tools exist would it be worth "patching" the beanstalk codebase.

[2021-09-18 04:19] squatica opened #603 "Docker build failing since alpine:3.14"
Dockerfile uses `FROM alpine` which always pulls the `:latest` tag. In June 2021 alpine latest tag changed from 3.13 to 3.14 and now the builds are failing:

[code]

[2021-09-18 05:38] Neeteshking21 commented on #603
you may find it on https://wiki.alpinelinux.org/wiki/Release_Notes_for_Alpine_3.14.0#faccessat2

[2021-09-18 06:49] squatica commented on #603
Wow, thanks for the link. Turns out it happens only when building in a pipeline which uses `docker:stable`, which is still 19.03. So this is not directly a problem with beanstalk. It is related to https://github.com/drone-plugins/drone-docker/pull/322 , but I suspect also gitlab still instructs people to use docker:stable in their pipelines by default.

A quick workaround would be to change the ba

[2021-10-12 19:03] Roguelazer opened #606 "reserve-with-timeout parsing is too lax"
`reserve-with-timeout` just passes its argument directly to `strtol` without doing any verification.

This makes its behavior inconsistent between platforms. When linked against glibc, if the argument contains no valid digits, `strtol` will return 0 and leave errno unset; on musl libc, if the argument contains no valid digits, errno will be set and BAD_FORMAT will be returned.

Example on glibc-co

[2021-10-12 19:50] #606 closed

[2021-10-17 03:31] GenaANTG commented on #527
@ysmolsky Hi, mate! Is this bug is fixed in master branch? Looks like no. I have check your link above. In version 1.12 `kill -s SIGTERM` return 143 exit code. For docker needs we should have the way to stop beanstalkd with exit code 0. Do you have any sugesstions? Thanks.

[2021-10-17 10:55] GenaANTG opened #608 "handle_sigterm_pid1 change exit code from 143 to 0"
@ysmolsky Hello! Can we change exit code to 0? Docker needs 0 for the correct container stop/shutdown.
Now i have everytime 143 exit code.

https://github.com/beanstalkd/beanstalkd/blob/master/main.c#L39-L43

[2021-11-11 19:28] tolgaulas opened #609 "delete command may receive DEADLINE_SOON response"
I've encountered `DEADLINE_SOON` response on a `delete` command, despite it is not in the protocol document, at version`beanstalkd 1.12+6+gf221cad`. Glancing at the source, it sounds normal because the server returns `MSG_DEADLINE_SOON` in two occasion; at reserve command and on `conn_timeout` which states
[code]

So therefore either the protocol should be updated or `delete` command should be exe

[2021-11-12 01:20] kr commented on #609
Thank you for the report!

Do you have a way to reproduce this behavior? That would be very helpful.

This sounds like a bug. Function conn_timeout should only be called on a connection that has hit a timeout deadline, but a connection executing `delete` should not have a timeout set in the first place.

Another possibility is that the client is incorrectly associating a `DEADLINE_SOON` response f

[2021-12-30 13:06] SamMousa opened #610 "Yaml documents don't quote strings properly"
The yaml dictionary responses to the stats command seem to not escape tube names and other string values properly.

Since tube names support a lot of styles they are easy to misinterpret by a yaml parser; the following are valid tube names:
- "1.5"
- "12145"

When using these kinds of names the stats result looks like this:
[code]

When looking at the output of the `stats` command (showing only a

[2021-12-30 13:13] SamMousa commented on #610
I could make a PR based on another commit that adds escaping for `os`; after I figure out why that escaping isn't working...

[2021-12-30 13:58] tomponline commented on #610
Thanks!

[2021-12-30 14:04] SamMousa commented on #609
I don't think this is valid; my test code (PHP):
[code]
This gives the beanstalk server approximately 10 opportunities to respond with `DEADLINE_SOON`, and it doesn't.

The second test waits for 0.5 seconds before deleting the reserved job:
[code]

This also passes.

[2021-12-30 15:42] SamMousa commented on #589
Is there any interest from maintainers to set this up? As said, I'm happy to help but some steps need to be done by people with appropriate permissions.

[2021-12-30 19:19] kr commented on #610
Yeah, I should not have used YAML in the first place. You are right, it will be necessary to quote these strings.

[2021-12-30 19:30] SamMousa commented on #610
Well any format with type information will need escaping or specifying type information.. and I'm not sure JSON would have made it easier.

A simple way forward could be to add a command to get them in a better format `stats-tube-format-x` but that's a project for another day

[2021-12-30 21:55] kr commented on #610
I think a somewhat simpler/easier way forward would be to restrict the output format of the existing commands from YAML to JSON. This ought to be a backwards-compatible change, since all YAML parsers are supposed to be able to read JSON. However, it would be worth testing the major client languages to double-check that they actually do the right thing in that case.

[2021-12-31 07:54] SamMousa commented on #610
Yeah sure, but it doesn't solve the need for quotation and escaping... So it won't make live that much easier..

[2021-12-31 09:37] SamMousa commented on #610
I'm the maintainer of the PHP client Pheanstalk, which I think is the basis for most PHP apps that use beanstalkd (14 million downloads). And I can say for sure that our client will break since we don't use a full fledged yaml parser. That's fine though, I can fix that easily before a new beanstalk version is released.

I can create PR for a github action that, on each push, will build beanstalkd

[2021-12-31 10:14] SamMousa commented on #610
See #614

[2022-01-04 08:52] SamMousa opened #615 "Format for lists and dictionary responses"
_Originally posted by @kr in https://github.com/beanstalkd/beanstalkd/issues/610#issuecomment-1003193205_

I've thought some more on this and I think going either the YAML or the JSON road is troublesome unless you want to pull in a proper library into beanstalkd.

We could actually simplify the formats as well, since the beanstalkd protocol is a text based protocol and requires a custom parser /

[2022-01-04 08:54] kr commented on #615
Good points! I agree.

[2022-01-04 09:21] SamMousa commented on #603
This issue is no longer valid.

While this is true, in this case I'm not sure it really applies. Beanstalkd is a standalone binary afaik (correct me if I'm wrong).
So when we build it in a multistep build it doesn't matter what base version we use as long as it works.
Then we place it in a bare alpine container tagged with `alpine:latest`, if you want a different base container you can import it i

[2022-01-04 09:38] SamMousa commented on #603
Scrap my previous comment, forgot all about build args!
Have created a PR that supports using any base image.

[2022-01-04 09:47] SamMousa commented on #589
Fixed by #613.

In the meanwhile I'm building new builds automatically here: [ghcr.io/sammousa/beanstalkd:latest](https://github.com/sammousa/beanstalkd/pkgs/container/beanstalkd)

Note this branch is not auto synced (yet) but I intend to keep it reasonably close to `master`.

[2022-01-04 09:47] #589 closed

[2022-01-04 10:00] SamMousa commented on #560
We could handle 2 in a more generic way:
When a job is released the command returns with:
`RELEASED <id> <length>`

The data will be the same as `stats-job <id>` would return.

[2022-01-04 10:06] SamMousa opened #617 "Document pipelining and its limitations"
This issue was raised in @266 before where @JensRantil proposed following solution to the problem:

@meox

_Originally posted by @ysmolsky in https://github.com/beanstalkd/beanstalkd/issues/427#issuecomment-507016097_

We should document somewhere that pipelining is supported and that it has limitations.
Currently because of the protocol not using IDs in all responses pipelining can only be reliab

[2022-01-04 10:21] SamMousa commented on #45
Since we don't need a consistent snapshot, what about adding offsets to the peek command?

`peek-ready` is equal to `peek-ready 0` and `peek-ready 1` would take the offset 1. When an offset doesn't exist we simply return not found.

You get all the risks when iterating non atomically (like duplicate results if jobs get inserted during iteration), but at least now you can do it. Also clients could

[2022-01-04 10:49] SamMousa commented on #25
Hmm, couldn't this be implemented in some kind of transparent fashion?

- Tubes are stored in a list
- A linear search on this list is done using `tube_find`

Implementation:
1. Create new tube with the same name, prepend it to the list of tubes -- this will make new connections use the new empty tube.
2. Iterate over connections update `->use` to use the new tube.
3. Iterate over connections upda

[2022-01-04 18:45] #603 closed

[2022-01-04 18:50] #610 closed

[2022-01-04 20:14] kr commented on #25
Yeah @SamMousa, your plan [swap out the fixed-size tube structure and incrementally delete the jobs later] would probably work. I would do something along those lines, except I would not make a new tube struct.

Instead I would move the job array/linked list pointers out of the tube's `ready` & `delay` & `buried` fields, into a "to be deleted" data structure somewhere. The idea is to reset the two

[2022-01-04 21:02] SamMousa commented on #25
I don't actually speak C so the things you're considering sound good to me ;-)

[2022-01-08 12:27] 1ma opened #618 "Test suite regression"
A change introduced in this commit https://github.com/beanstalkd/beanstalkd/commit/4c275d5945299e4562389f9f2ca7c326173d6335 broke the test suite:

[code]

It would probably be worthwhile to clean up the extant Travis configuration and set up a new CI pipeline elsewhere, like GH Actions.

[2022-01-27 10:18] SamMousa commented on #618
I've already created a PR for setting up Github Action CI here: #613

Interestingly because that wasn't merged I didn't catch the regression (even though I think I did run the tests locally...)

Will create a PR to fix it but we should merge #613 first...

[2022-04-22 06:40] yws-tracy opened #620 "how to debug in Clion IDE any docs?"

[2022-04-22 08:04] #620 closed

[2022-04-22 08:54] yws-tracy opened #621 "clion debug buid fail on mac M1"
/Applications/CLion.app/Contents/bin/cmake/mac/bin/cmake --build /Users/xxx/CLionProjects/beanstalkd/cmake-build-debug --target beanstalkd
[1/1] Linking C executable beanstalkd
FAILED: beanstalkd
: && /Library/Developer/CommandLineTools/usr/bin/cc -g -arch arm64 -isysroot /Library/Developer/CommandLineTools/SDKs/MacOSX11.3.sdk -mmacosx-version-min=11.1 -Wl,-search_paths_first -Wl,-headerpad_max_in

[2022-04-23 09:27] #621 closed

[2022-05-02 21:56] simon816 opened #622 "binlogs continually increase when delaying jobs"
Beanstalk versions: `1.11`, `1.12`, current master (4c275d5945299e4562389f9f2ca7c326173d6335)

Steps to reproduce:

1. Launch beanstalkd with binlogs enabled
2. Fill a tube with 100k jobs
3. Continually reserve and release the jobs with a delay
4. Observe that over time, the binlog size increases

I would expect that for a fixed size of jobs, the size of the binlogs remains fixed.

Example perl co

[2022-05-05 01:31] kr commented on #622
Thanks for reporting this! Yes, I think you are right about the behavior and essentially right about the cause (with a nitpick that filewrjobshort is called every time the job is *released*, not when it becomes ready).

More abstractly, beanstalkd's log compaction was designed to avoid disk usage being dominated by "dead" records, but it only considers records dead when the job they belong to has

[2022-05-23 13:04] SamMousa commented on #615
Would you accept a contribution that implements this as new commands (to not break backwards compatibility)?

At the same time we could then deprecate the old commands.

[2022-06-02 00:20] kr commented on #615
In principle yes, but in practice I probably don't have time to review the code.

If any other maintainer wants to review, go for it!

[2022-06-24 11:57] ikool-cn opened #624 "wish add clustering features"
I like beanstalkd, wish add clustering features

[2022-07-01 04:52] premagavarawad opened #625 "Error on building beanstalkd 1.12 source from spec file"
Hi ,

I need beanstalkd 1.12 rpm file , so I am trying to build beanstalkd 1.12 source code from spec provided in source, but on build command i am getting error as-
![image](https://user-images.githubusercontent.com/108507777/176824788-4fe846b5-7d13-45c8-86bc-107d5241e0c1.png)

If we remove buildconf.sh , it still gives error for /Configure file not found.

Please suggest me to solve the build er

[2022-07-05 17:30] evgenybf opened #626 "Connection lost moves "reserved" jobs to "ready""
Is it possible to avoid jobs moving from "reserved" to the  "ready" state when connection is broken?

I've tried to re-connect on socket error but it turned out that all jobs that were "reserved" using the broken connection get to the "ready" state and as a result, available for taking again.

1. Reserve an only available job and  check that its state is RESERVED:

[code]

3. Check its state again

[2022-07-05 19:29] kr commented on #626
What would you like to happen to them instead?

If you want them to be deleted, you can get much the same effect by deleting each job as soon as it's reserved.

If you want them to remain reserved, that would require some changes to the protocol. The server currently has no way to identify a client other than by its connection. When a new connection appears, as far as the server knows, it's a new

[2022-07-05 20:16] evgenybf commented on #626
@kr Thank you for the explanation! I was thinking about the second option ("remain reserved"), but now I see that it's not supported by design. What about buried and delayed statuses? Are they permanent or do they depend on the connection as well?

[2022-07-05 21:15] kr commented on #626
Reserved is the only status that is tied to a connection. The other statuses aren't, so they won't be changed by a client disconnecting.

[2022-07-06 06:36] #626 closed

[2022-07-12 07:57] ikool-cn opened #627 "wish add batch put and batch reserve features"
wish add batch put and batch reserve features

thanks!

[2022-07-12 08:02] ikool-cn commented on #625
wget https://github.com/beanstalkd/beanstalkd/archive/v1.12.tar.gz
tar zxf v1.12.tar.gz
cd beanstalkd-1.12
make && make install
# beanstalkd -v
beanstalkd 1.12

[2022-08-08 20:25] jackdpeterson opened #628 "Ubuntu - 1.11-1: OUT_OF_MEMORY (Too many open files) despite very high ulimit"
**syslog**
[code]

**Package details:**
[code]

**OS info:**
[code]

Memory at the time of the crash as reported by one of my colleagues: 750MB / 4 GB RAM; system has 2 GB swap configured:
[code]

Free memory after beanstalk restart
[code]

OS-level ulimits:
[code]

Beanstalkd launch command and limits:
[code]

**Some grafana metrics that may be interesting:**
![image](https://user-images.githubus

[2022-08-08 20:50] jackdpeterson commented on #628
I identified a soft ulimit that was set too low on a reference system after a peer updated this system's configuration post-process restart. I'll provide an updated comment in here though for anyone else looking for the long-term resolution / configuration knobs to turn.

[2022-08-08 20:50] #628 closed

[2022-08-08 23:13] jackdpeterson commented on #628
The approach I took with my team (provisioned via puppet) was to ensure the beanstalk service is not enabled or started) and we're utilizing supervisord as the mechanism to start up beanstalk. By setting the `minfds` parameter in supervisor the child beanstalkd process inherits the supervisord's configured minfds soft limit.

[2022-10-03 17:20] insinfo commented on #267
@caidongyun

Do you have any pre-compiled binary for windows? If not, how can I compile it for windows? What version of Cygwin do I need? Do you have a step by step tutorial?

[2022-10-03 18:25] insinfo commented on #267
I tried to run automake on Cygwin 2.919 64 bit but I'm getting these errors

[code]

[2022-10-04 03:52] divmgl commented on #267
You'll likely get better results just using a Linux container tbh.

[2022-10-23 11:30] cooldarkdryplace opened #629 "Suggested way to set Beanstalk UNIX domain socket permissions"
Hi, I am running beanstalkd on Debian as a systemd service. It is installed via apt-get.
My only adjustment was to edit `/etc/default/beanstalkd ` to listen on UDS: `/etc/init.d/beanstalkd`.
[code]

This config creates UDS:
[code]

According to [the doc](https://man7.org/linux/man-pages/man7/unix.7.html), connecting to the socket requires read-write permissions.

Question: what is the suggested wa

[2022-10-28 04:33] ptjm commented on #629
set umask before starting beanstalkd.

umask 007 will give srwxsrwx---

[2022-10-28 05:50] cooldarkdryplace commented on #629
Thanks, @ptjm! This is precisely what I need.

[2022-10-28 05:50] #629 closed

[2022-11-25 15:20] #618 closed

[2022-11-25 15:25] SamMousa opened #633 "Use GITHUB_TOKEN for authenticating to the docker registry"
It seems you're currently using your personal credentials; this is not the recommended approach.

https://docs.github.com/en/packages/working-with-a-github-packages-registry/working-with-the-container-registry

[2022-11-25 15:26] SamMousa commented on #633
Hmm, nvm i misinterpreted..

[2022-11-25 15:26] #633 closed